@charset "utf-8";
/* CSS Document */

.left_bg{
	width:200px;
	background-color:#bfbfbf;
	float:left;
}
.menu_bg{
	background:url(../images/menu_bg1.jpg) center no-repeat;
	width:226px;
	height:35px;
	line-height:35px;
}
.menu_bg a{
	color:#FFF;
	font-size:15.59px;
	display:block;
	margin-left:55px;
	font-weight:bold;
}
.menu_bg2{
	background:url(../images/menu_bg2.jpg) center no-repeat;
	width:100%;
	height:32px;
	line-height:32px;
}
.menu_bg2 a{
	color:#FFF;
	font-size:15.59px;
	display:block;
	margin-left:55px;
}
.menu3{
	display:none;
}
.menu3 .link{
	display:block;
	background:url(../images/menu_bg3.jpg) center no-repeat;
	width:100%;
	height:29px;
	text-indent:55px;
	line-height:29px;
	color:#FFF;
	font-size:13.33px;
}
.menu3 .hover{
	display:block;
	background:url(../images/menu_bg3.jpg) center no-repeat;
	width:100%;
	height:31px;
	text-indent:55px;
	line-height:31px;
	color:#FFF;
	font-size:13.33px;
}

.left_bg ul{
	width:100%;
}
.left_bg ul li{
	text-align:center;
	width:90px;
	margin:0 auto;
	padding-top:25px;
}
.left_bg ul li a{
	width:90px;
	height:80px;
	background-color:#8b8b8b;
	display:block;
	color:#FFF;
	font-size:15.59px;
	font-weight:bold;
}
.left_bg ul li a:hover{
	width:90px;
	height:80px;
	background-color:#ea4940;
	display:block;
}
.left_bg ul li a img{
	padding-top:20px;
	padding-bottom:10px;
	width:30px;
}

.right{
	width:100%;
	float:right;
}
.daohang{
	height:35px;
	line-height:35px;
	text-indent:12px;
	color:#8b8b8b;
	font-size:12px;
}
.daohang a{
	color:#8b8b8b;
}
.daohang a font{
	font-size:13px;
	font-weight:bold;
}
.main{
	border:1px solid #e5e6e6;
	margin-left:4px;
	background-color:#FFF;
}
.pub_title_bg{
	background:url(../images/fb_bg.jpg) center repeat-x;
	width:100%;
	height:36px;
	line-height:36px;
}
.pub_title{
	color:#5e5f5f;
	font-size:15.94px;
	font-weight:bold;
	background:url(../images/fb_05.jpg) left no-repeat;
	height:36px;
	line-height:36px;
	margin-left:10px;
	padding-left:10px;
}

.pub_01{
	margin-top:8px;
	height:36px;
	line-height:36px;
	margin-left:15px;
	background:url(../images/fb_06.jpg) left bottom no-repeat;
	border-bottom:1px solid #c8c8c8;
	color:#9b9b9b;
	font-size:15.94px;
	text-indent:10px;
	font-weight:bold;
}
.pub_02{
	padding-top:30px;
	padding-left:40px;
	color:#5e5f5f;
	font-size:13.8px;
	padding-bottom:10px;
}
.pub_02 table tr td{
	padding-bottom:20px;
}
.pub_02 span{
	color:#f43232;
	margin-left:3px;
	margin-right:3px;
}
.pub_02 font{
	color:#aeafaf;
}
.pub_03{
	height:30px;
	border:1px solid #dfdfdf;
	line-height:30px;
	outline:0px;
	margin-left:8px;
}
.pub_04{
	width:95px;
	margin-left:8px;
	float:left;
	background-color:#a4a4a4;
	color:#FFF;
	font-size:13.8px;
	font-weight:bold;
	line-height:20px;
	height:30px;
	text-align:center;
	border:0px;
	outline:0px;
}
.pub_05{
	width:95px;
	margin-left:8px;
	float:left;
	background-color:#ea4940;
	color:#FFF;
	font-size:13.8px;
	font-weight:bold;
	line-height:20px;
	height:30px;
	text-align:center;
	border:0px;
	outline:0px;
}
.pub_06{
	height:30px;
	border:1px solid #dfdfdf;
	line-height:30px;
	outline:0px;
	margin-left:8px;
	background:url(../images/fb_07.jpg) no-repeat;
	float:left;
	background-position:93% 10px;
}
.pub_07{
	padding-top:130px;
	padding-bottom:240px;
	padding-left:55px;
}
.pub_08{
	background:url(../images/fb_08.jpg) center no-repeat;
	width:192px;
	height:35px;
	line-height:35px;
	color:#424242;
	font-size:15.28px;
	text-align:center;
	font-family:"微软雅黑";
	margin-right:35px;
	display:block;
	float:left;
}
.pub_09{
	background:url(../images/fb_09.jpg) center no-repeat;
	width:192px;
	height:35px;
	line-height:35px;
	color:#FFF;
	font-size:15.28px;
	text-align:center;
	font-family:"微软雅黑";
	margin-right:35px;
	display:block;
	float:left;
}
.pub_10{
	background:url(../images/fb_10.jpg) center no-repeat;
	width:192px;
	height:35px;
	line-height:35px;
	color:#FFF;
	font-size:15.28px;
	text-align:center;
	font-family:"微软雅黑";
	margin-right:35px;
	display:block;
	float:left;
}
.after_01{
	border:1px solid #c5c5c5;
	margin:2px;
	height:80px;
	margin-top:4px;
}
.after_01 p{
	padding-top:10px;
	padding-left:15px;
	color:#676868;
	font-size:15.94px;
	font-weight:bold;
}
.after_01 p span{
	color:#ea4940;
}
.after_02{
	padding-top:10px;
	padding-left:15px;
}
.after_02 ul{
	color:#5e5f5f;
	font-size:13.8px;
}
.after_02 ul li span{
	color:#ea4940;
}
.active1{
	background:url(../images/after_03.jpg)  center no-repeat;
	width:129px;
	height:35px;
	line-height:35px;
	float:left;
	margin-right:4px;
	cursor:pointer;
	text-align:center;
}

.normal1{
	background:url(../images/after_04.jpg)  center no-repeat;
	width:129px;
	height:35px;
	line-height:35px;
	float:left;
	margin-right:4px;
	cursor:pointer;
	text-align:center;
}
.after_03{
	clear:both;
	border:1px solid  #e3e4e8;
	margin-left:5px;
	background-color:#f7f8fa;
	height:200px;
}
.after_04{
	padding-top:18px;
	padding-left:15px;
	padding-bottom:18px;
}
 
.after_05{
	clear:both;
	border:1px solid  #e3e4e8;
	margin-left:5px;
	background-color:#f7f8fa;
	height:200px;
	
	
}
.after_06{
	position:relative;
	margin-bottom:175px;
}
.after_07{
	background:url(../images/after_05.jpg) center no-repeat;
	width:28px;
	height:13px;
	top:-12px;
	position:absolute;
	left:108px;
	z-index:1000;
}
.login1_01{
	padding-top:120px;
	padding-left:115px;
	width:840px;
}
.login1_01 ul li{
	width:253px;
	height:54px;
	margin-right:20px;
	float:left;
	margin-bottom:20px;
	text-align:center;
	line-height:54px;
}

.login1_01 ul li a{
	width:253px;
	height:54px;
	background:#bfbfbf url(../images/login.png) no-repeat;
	color:#000000;
	font-size:21.57px;
	font-family:"微软雅黑";
	display:block;
	background-position:90% 12px;
}
.login1_01 ul li a:hover{
	width:253px;
	height:54px;
	background:#ea4940 url(../images/login.png) no-repeat;
	color:#FFF;
	font-size:21.57px;
	font-family:"微软雅黑";
	display:block;
	background-position:90% 12px;
}

.page{
	width:350px;
	margin:0 auto;
	clear:both;
	padding-top:20px;
	padding-bottom:20px;
}
.page .link{
	background-color:#d1d1d1;
	height:26px;
	width:25px;
	display:block;
	float:left;
	margin-left:1px;
	margin-right:1px;
	color:#FFF;
	line-height:26px;
	text-align:center;
}
.page .hover{
	background-color:#d1d1d1;
	height:26px;
	width:25px;
	display:block;
	float:left;
	margin-left:1px;
	margin-right:1px;
	color:#ea4940;
	line-height:26px;
	text-align:center;
}
.page img{
	display:block;
	float:left;
	margin-left:1px;
	margin-right:1px;
}
























