<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户预约列表</title>
<link href="/css/Online/index.css" rel="stylesheet" type="text/css" />
<link href="/css/Online/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/Online/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/Online/index.js"></script>
</head>

<body>
<include file="Online/online/View/partial/public_navbar.html"/>
<div class="headbg">
</div>
<div class="navBox">
	<ul>
    	<li><a href="{:U('index/index')}" class="currentA" target="_self">首页</a></li>
        <!-- <li><a href="#">会议申请</a></li>
        <li><a href="#">在线会议室</a></li> -->
    </ul>
</div>
<div class="mainBox">
    <h5>当前位置： <a href="{:U('admin/index')}" target="_self">首页</a> ><span> 用户预约列表</span></h5>
    <h5>当前预约数 ： {$scheduleList['count']}</h5>
    <div class="joint">
    <include file="Online/online/View/partial/admin_nav.html"/>
        <div class="list">
            <div id="nTabs2_Content0">
                <table width="974" border="1" bordercolor="#f5f5f5" cellspacing="0">
                    <tbody>
                        <tr class="top-tab">
                            <td width="">申请方姓名</td>
                            <td width="">申请方手机</td>
                            <td width="">接收方姓名</td>
                            <td width="">接收方手机</td>
                            <td width="">申请对接时间</td>
                            <td width="">提交时间</td>
                            <td width="">当前状态</td>
                        </tr>
                        <?php
                        $i = 0;
                        foreach($scheduleList['data']  as $k => $v){
							$i++;
						?>
                        <tr class="top-tab{$i%2+1}">
                            <td ><a href="{:U('admin/audit_info/'.$v['uid'])}">{$v['uname']}</a></td>
                            <td>{$v['umobile']}</td>
                            <td><a href="{:U('admin/audit_info/'.$v['accept_uid'])}">{$v['accept_name']}</a></td>
                            <td>{$v['accept_mobile']}</td>
                            <td>{$dayConfig[$calendarListKV[$v['calendar_id']]['day_id']]}  {$timeConfig[$calendarListKV[$v['calendar_id']]['time_id']]}</td>
							<td><?php echo date('Y-m-d H:i:s',$v['add_time']);?></td>
							<td><?php echo $v['status']==1 ? '待定' : '已确认'; ?></td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
                <div class="page">
				{$scheduleList['html']}
		        </div>
            </div>
        </div>
    </div>
</div>
<include file="Online/online/View/partial/Public_footer.html"/>

</body>
</html>
