<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>科济天下网_在线对接会_申请对接</title>
<link href="/css/Online/index.css" rel="stylesheet" type="text/css" />
<link href="/css/Online/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/Online/jquery-1.7.2.min.js"></script>
<script type="text/ecmascript" src="/js/Online/index.js"></script>
<link href="/css/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/Online/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/Online/common.js?1231" language="javascript"></script>
<script src="/js/Online/jquery.validationEngine.js" type="text/javascript"></script>
<script src="/js/Online/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
	$("#news li").click(function(){
	  $(this).attr("class","current").siblings().attr("class","");
	  $("#news_content .fixnone").eq($(this).index()).show().siblings().hide();	
	})
})
$(function(){
	$("#testdiv input[type=checkbox]").click(function(){
		if($("#testdiv input[type=checkbox]:checked").size()>30)
		{
			$(this).removeAttr("checked");
			return;
		}
		//ajax操作
		//var dthtml='<dt>\
        //                <div class="text-list-01">▪ 激光器及激光应用、激光材料Lasers and laser applications, laser material</div>\
        //                <div class="text-list-02">半导体激光器Semiconductor lasers    /   固体激光器Solid lasers</div>\
        //           </dt>';
		//$(".application-05").append(dthtml);
	})
	$("#btndui").click(function(){
		  $(".showboxbg").show();
		  $(".showboxbg").height($(document).height());
	  }) 
	  $("#closebox").click(function(){
		   $(".showboxbg").hide();
	   }) 
})
$(function(){
	 
	$("[id=1]").each(function(){
		 var defaultVal=$(this).val();//将各个input的默认值都保存出来。
		  $(this).focus(function(){
			if($(this).val()==defaultVal)
			  {
				  $(this).val("");//获得焦点时进行判断，如果当前的value值是默认的才进行清空
			  } 
		  })
		  $(this).blur(function(){
			if($(this).val().length==0)
			 {
				 $(this).val(defaultVal);  //失去焦点时进行判断，如果value值的长度等于0（也就是空的时候，//没有输入内容的清空下），将原先保存的value值写入
			 }
		  })
		 
	  })
	  

   
})
$(function(){
	$("form").validationEngine();
})
 function chooseOne(cb){  
         //先取得同name的chekcBox的集合物件  
         var obj = document.getElementsByName("stage");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
             if (obj[i]!=cb) obj[i].checked = false;  
             //若是 但原先未被勾選 則變成勾選；反之 則變為未勾選  
            
             else obj[i].checked = true;  
         }  
     }   
	 function chooseOne1(cb){  
         //先取得同name的chekcBox的集合物件  
         var obj = document.getElementsByName("channelsm");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
             if (obj[i]!=cb) obj[i].checked = false;  
             //若是 但原先未被勾選 則變成勾選；反之 則變為未勾選  
            
             else obj[i].checked = true;  
         }  
     }   
	 function chooseOne2(cb){  
         //先取得同name的chekcBox的集合物件  
         var obj = document.getElementsByName("rzchannel");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
             if (obj[i]!=cb) obj[i].checked = false;  
             //若是 但原先未被勾選 則變成勾選；反之 則變為未勾選  
            
             else obj[i].checked = true;  
         }  
     }   
	 function chooseOne3(cb){  
         //先取得同name的chekcBox的集合物件  
         var obj = document.getElementsByName("ispatent");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
             if (obj[i]!=cb) obj[i].checked = false;  
             //若是 但原先未被勾選 則變成勾選；反之 則變為未勾選  
            
             else obj[i].checked = true;  
         }  
     }   
	  function chooseOne4(cb){  
         //先取得同name的chekcBox的集合物件  
         var obj = document.getElementsByName("technique");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
             if (obj[i]!=cb) obj[i].checked = false;  
             //若是 但原先未被勾選 則變成勾選；反之 則變為未勾選  
            
             else obj[i].checked = true;  
         }  
     }   
	  function chooseOne5(cb){  
         //先取得同name的chekcBox的集合物件  
         var obj = document.getElementsByName("stateplan");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
             if (obj[i]!=cb) obj[i].checked = false;  
             //若是 但原先未被勾選 則變成勾選；反之 則變為未勾選  
            
             else obj[i].checked = true;  
         }  
     }   
	 function chooseOne6(cb){  
         //先取得同name的chekcBox的集合物件  
         var obj = document.getElementsByName("fundxm");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
             if (obj[i]!=cb) obj[i].checked = false;  
             //若是 但原先未被勾選 則變成勾選；反之 則變為未勾選  
            
             else obj[i].checked = true;  
         }  
     }   
	 function chooseOne7(cb){  
         //先取得同name的chekcBox的集合物件  
         var obj = document.getElementsByName("otherdemand");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
             if (obj[i]!=cb) obj[i].checked = false;  
             //若是 但原先未被勾選 則變成勾選；反之 則變為未勾選  
            
             else obj[i].checked = true;  
         }  
     }


$(function(){
   	if($("#val").val()){
		$(".showboxbg").show();
		$(".showboxbg").height($(document).height());
	}
	  
	  $("[id=closebox]").each(function(){
			$(this).click(function(){
				$(".showboxbg").hide();
			})
	  })
	    $("#center_product li").click(function(){
		    $(this).attr("class","current").siblings().attr("class","");
			$("#neirong .content").eq($(this).index()).show().siblings().hide();	
	    })
	 $("#chongzhi").click(function(){
		$(".txt").val("");
		
	 })
	 	if($("#val").val()){
		$(".showboxbg").show();
		$(".showboxbg").height($(document).height());
	}
})

</script>
<!--[if lte IE 6]>
<script type="text/javascript" src="/js/PNG.js"></script>
<script type="text/javascript" src="/js/PNGS.js"></script>
<![endif]-->
<script type="text/javascript">
    $(function(){
	   $("#testdiv .application-06 .title-01 input").click(function(){  
		 var temp=$(this).parent().parent().find("ul");  
		 if(temp.is(":hidden"))
		  {
			 temp.show(); 
			 $(this).val("收起");
		  }
		  else
		  {
		    temp.hide();
			$(this).val("展开");
		  }   
	   })		
     })
	$(function(){
	   $(".falg").click(function(){
		  var html=$(".search-01 .lie");
		  if(html.is(":hidden"))
		  {
			 html.show();  
		  } 
		  else
		  {
			  html.hide();  
		  }  
	   }) 
	   $(".search-01 .lie").find("a").click(function(){
		   $(".txt_bg").val($(this).html());
		   $(".search-01 .lie").hide();
		}) 
	 
	})
</script>
</head>

<body>
<include file="Online/online/View/partial/public_navbar.html"/>

<div class="headbg">
</div>
<div class="navBox">
	<ul>
    	<li><a href="{:U('index/index')}" class="currentA" target="_self">首页</a></li>
        <!-- <li><a href="#">会议申请</a></li>
        <li><a href="#">在线会议室</a></li> -->
    </ul>
</div>
<div class="mainBox">
    <h5>当前位置： <a href="{:U('index/index')}" target="_self">首页</a> ><span> 我的对接</span></h5>
    <div class="top-text">
    	<h1>我要申请对接</h1>
        <ul id="news">
        	<a style="color: #fff;" href="{:U('index/apply_c')}" target="_self"><li class="current" style="margin-left:0;">专家/观众（个人）对接申请</li></a>
            <a style="color: #fff;" href="{:U('index/apply_b')}" target="_self"><li>参展单位对接申请</li></a>
        </ul>
    </div>
    <div class="application">
    	<div class="fixnone" style="display:block;">
    	<h1>在线对接申请表</h1>
        <form action="{:U('index/apply_c')}" id="form1" method="post" target="_self">
            <div class="application-01">
                <div class="application-02">
                    <h2>姓名<span style="color:red;">*</span></h2>
                    <div class="textBox-01">
                        <input class="text1 validate[required]" type='text' name='name' value="{$onlineUser ? $onlineUser['name'] : $tkUser['lxrname']}"/>
                    </div>
                    <h2>职位</h2>
                    <div class="textBox-05">
                        <input class="" type='text' name='position' value="{$onlineUser ? $onlineUser['position'] : $tkUser['position']}"/>
                    </div>
                    <h2>部门</h2>
                    <div class="textBox-05 textBox-10">
                        <input class="text7 " type='text' name='department' value="{$onlineUser['department']}"/>
                    </div>
                </div>
                <div class="application-02">
                    <h2 style="width: 105px;">单位中文名称<span style="color:red;">*</span></h2>
                    <div class="textBox-03" style="width: 609px;">
                        <input class="validate[required]" type='text' name='company_cname' value="{$onlineUser ? $onlineUser['company_cname'] : $tkUser['companyname']}"/>
                    </div>
                    <h2>电话</h2>
                    <div class="textBox-04">
                        <input class="" type='text' name='tel' value="{$onlineUser ? $onlineUser['tel'] : $tkUser['phone']}"/>
                    </div>
                </div>
                <div class="application-02">
                    <h2>单位英文名称</h2>
                    <div class="textBox-03">
                        <input class="" type='text' name='company_ename' value="{$onlineUser['company_ename']}"/>
                    </div>
                    <h2>手机<span style="color:red;">*</span></h2>
                    <div class="textBox-04">
                        <input class="validate[required]" type='text' name='mobile' value="{$onlineUser ? $onlineUser['mobile'] : $tkUser['lxrtelphone']}"/>
                    </div>
                </div>
                <div class="application-02">
                    <h2>单位网站</h2>
                    <div class="textBox-05">
                        <input class="" type='text' name='company_website' value="{$onlineUser['company_website']}"/>
                    </div>
                    <h2>Email<span style="color:red;">*</span></h2>
                    <div class="textBox-05">
                        <input class="validate[required]" type='text' name='email' value="{$onlineUser ? $onlineUser['email'] : $tkUser['email']}"/>
                    </div>
                    <h2>单位地址</h2>
                    <div class="textBox-07">
                        <input class="" type='text' name='company_address' value="{$onlineUser ? $onlineUser['company_address'] : $tkUser['address']}"/>
                    </div>
                </div>
                <div class="application-10">
                	<h3>所属行业</h3>
                    <ul>
                    	<li><input name="industry" type="radio" value="光学/光电子" <php>if(!$onlineUser['industry'] || $onlineUser['industry'] == '光学/光电子'){ echo "checked='checked'";}</php> />光学/光电子</li>
                        <li><input name="industry" type="radio" value="航天/航空" <php>if($onlineUser['industry'] == '航天/航空'){ echo "checked='checked'";}</php> />航天/航空</li>
                        <li><input name="industry" type="radio" value="电气工程/电子/半导体" <php>if($onlineUser['industry'] == '电气工程/电子/半导体'){ echo "checked='checked'";}</php> />电气工程/电子/半导体</li>
                        <li><input name="industry" type="radio" value="装备制造" <php>if($onlineUser['industry'] == '装备制造'){ echo "checked='checked'";}</php> />装备制造</li>
                        <li><input name="industry" type="radio" value="半导体制造业" <php>if($onlineUser['industry'] == '半导体制造业'){ echo "checked='checked'";}</php> />半导体制造业</li>
                        <li><input name="industry" type="radio" value="汽车工程" <php>if($onlineUser['industry'] == '汽车工程'){ echo "checked='checked'";}</php> />汽车工程</li>
                        <li><input name="industry" type="radio" value="通信/数据处理" <php>if($onlineUser['industry'] == '通信/数据处理'){ echo "checked='checked'";}</php> />通信/数据处理</li>
                        <li><input name="industry" type="radio" value="精密工程" <php>if($onlineUser['industry'] == '精密工程'){ echo "checked='checked'";}</php> />精密工程</li>
                        <li><input name="industry" type="radio" value="医疗/生物技术" <php>if($onlineUser['industry'] == '医疗/生物技术'){ echo "checked='checked'";}</php> />医疗/生物技术</li>
                        <li><input name="industry" type="radio" value="环境监测" <php>if($onlineUser['industry'] == '环境监测'){ echo "checked='checked'";}</php> />环境监测</li>
                        <li><input name="industry" type="radio" value="安全防范工程" <php>if($onlineUser['industry'] == '安全防范工程'){ echo "checked='checked'";}</php> />安全防范工程</li>
                        <li><input name="industry" type="radio" value="化工/制药行业" <php>if($onlineUser['industry'] == '化工/制药行业'){ echo "checked='checked'";}</php> />化工/制药行业</li>
                        <li><input name="industry" type="radio" value="光伏行业" <php>if($onlineUser['industry'] == '光伏行业'){ echo "checked='checked'";}</php> />光伏行业</li>
                        <li><input name="industry" type="radio" value="商贸" <php>if($onlineUser['industry'] == '商贸'){ echo "checked='checked'";}</php> />商贸</li>
                        <li><input name="industry" type="radio" value="非大学研究机构" <php>if($onlineUser['industry'] == '非大学研究机构'){ echo "checked='checked'";}</php> />非大学研究机构</li>
                        <li><input name="industry" type="radio" value="高等院校" <php>if($onlineUser['industry'] == '高等院校'){ echo "checked='checked'";}</php> />高等院校</li>
                        <li><input name="industry" type="radio" value="行政管理/政府当局" <php>if($onlineUser['industry'] == '行政管理/政府当局'){ echo "checked='checked'";}</php> />行政管理/政府当局</li>
                        <li><input name="industry" type="radio" value="其他" <php>if($onlineUser['industry'] == '其他'){ echo "checked='checked'";}</php> />其他</li>
                    </ul>
                </div>
                <div class="application-03">您感兴趣的产品或者能提供的产品<span>*最多可选30项</span></div>
                <!-- <div class="application-05">
                    <dl>
                        <dd>已选择：</dd>
                        <?php
                        foreach($choosenFatherList as $father){
						?>
                        <dt>
                            <div class="text-list-01">▪ <php>echo $father['cname'];</php><php>if($father['ename'] != ''){ echo '/'.$father['ename'];}</php></div>
                            <?php 
                            foreach($choosenList[$father['id']] as $k=>$v){
							?>
                            <div class="text-list-02">{$v['cname']}{$v['ename']}</div>
                            <?php
                            }
							?>
                        </dt>
                        <?php
                        }
						?>

                    </dl>
                </div>
                 -->
               <div id="testdiv"> 
               <?php
               $i = 0;
               foreach($fatherList as $father_k => $father_v){
			       $i++;
				   if($i != 11){
               ?>
               <div class="application-06">
                  <div class="title-01">
                        <div class="title-02">▪ <php>echo $father_v['cname'];</php><php>if($father_v['ename'] != ''){ echo '/'.$father_v['ename'];}</php></div>
                        <input name="" type="button" class="but1" value="<?php echo $i==1?'收起':'展开'; ?>" />
                  </div>
                  <ul <?php if($i != 1){ echo "style='display:none;'"; }?>>
	                  <?php
	                  foreach($childList[$father_v['id']] as $child_k => $child_v){
				  	  ?>
                      <li><input name="category[]" type="checkbox" value="<?php echo $child_v['id'];?>" <?php if(in_array($child_v['id'],$cidList)){ echo 'checked="checked"';} ?>/><p>{$child_v['cname']}{$child_v['ename']}</p></li>
	                  <?php
	                  }
                  	  ?>
                  </ul>
                </div>
                <?php } ?>
               <?php
               }
               ?>
              </div>  
                <div class="application-06 application-07">
                    <div class="title-01">
                            <div class="title-02">▪ <php>echo $fatherList[10]['cname'];</php><php>if($fatherList[10]['ename'] != ''){ echo '/'.$fatherList[10]['ename'];}</php>:
                            <input class="text5" name="other_category" type="text" value="{$onlineUser['other_category']}" /></div>
                      </div>
                </div>
                <div class="application-03">B2B 商务洽谈</div>
                <div class="application-08">
                    <h1>请认真填写贵公司的合作需求（如希望在展会约见相关展商或关键人，请在此处详细列出，组委会将尽力为您实现）：</h1>
                    <dl>
                        <dd>▪ 需要何种合作或帮助：<span style="color:red;">*</span></dd>
                        <dt><input  class="" name="cooperation_need" type="text" value="{$onlineUser['cooperation_need']}" /></dt>
                        <dd>▪ 是否有投融资需求（如有需求组委会会尽力为您安排与投融资机构面谈）： 
                            <lable><input style="float:none" name="fund_demand" type="radio" value="1" <?php if($onlineUser['fund_demand']==1 || !isset($onlineUser['fund_demand'])){ echo 'checked="checked"';} ?> class="radio2" />是 </lable>
                            <lable><input style="float:none" name="fund_demand" type="radio" value="0" <?php if($onlineUser['fund_demand']==0){ echo 'checked="checked"';} ?> class="radio2" />否 </lable>
                            <input class="text6" style="float:none" name="fund_amount" type="text" value="{$onlineUser['fund_amount']}"/>万元（RMB）
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="application-09">
                <div class="but-01">
                	<input type='hidden' name='id' value="{$onlineUser['id']}"/>
                    <input type="submit" class="but-02 rad-but" value="下一步" />
                    <input type="button" class="but-02" id="chongzhi" value="重置内容" />
                </div>
            </div>
        </form>
        </div>
        
    </div>
    </div>
</div>
<include file="Online/online/View/partial/Public_footer.html"/>
<div class="showboxbg">
	<div class="show">
        <div class="show-03">
            <h1>提示信息</h1>
            <a href="#" id="closebox">关闭</a>
        </div>
        <div class="show-01">
            <p>内容为空,不可提交</p>
        </div>
        <div class="show-02">
            <input name="" type="button" class="but" value="确定"/>
        </div>
     </div>
</div>
</body>
</html>
