<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>科济天下网_在线对接会_用户详情_{$onlineUser['name']}</title>
<link href="/css/Online/index.css" rel="stylesheet" type="text/css" />
<link href="/css/Online/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/Online/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#news li").click(function(){
	  $(this).attr("class","current").siblings().attr("class","");
	  $("#news_content .fixnone").eq($(this).index()).show().siblings().hide();	
	})
})
$(function(){
	$("#tech li").click(function(){
	  $(this).attr("class","current").siblings().attr("class","");
	  $("#tech_content .fixnone").eq($(this).index()).show().siblings().hide();	
	})
})
$(function(){
    $(".company-07 a").click(function(){
    	if($(this).find("img").attr("src")=="/images/Online/icon_green.jpg"){
    		$(".company-07 a").css("color","#4c4c4c");
    		$(this).css("color","red").find("input").attr("checked","checked");
    	}
    })
    
});
</script>
</head>

<body>
<include file="Online/online/View/partial/public_navbar.html"/>
<div class="headbg">
</div>
<div class="navBox">
	<ul>
    	<li><a href="{:U('index/index')}" class="currentA" target="_self">首页</a></li>
        <!-- <li><a href="#">会议申请</a></li>
        <li><a href="#">在线会议室</a></li> -->
    </ul>
</div>
<div class="mainBox">
    <div class="main-left">
    	<h5>当前位置： <a href="{:U('index/index')}" target="_self">首页</a> ><span> 个人用户详情</span></h5>
        <div class="company-01">
       	  <h1>{$onlineUser['name']}</h1>
            <div class="company-02">
            	<table width="746" border="0" cellspacing="0">
                	<tbody>
                    	<tr class="top-tab">
                        	<td colspan="3"><h3>基本信息</h3></td>
                        </tr>
                        <tr>
                        	<td width="262">姓名：<a >{$onlineUser['name']} </a></td>
                            <td width="242">职务：<a >{$onlineUser['position']} </a></td>
                            <td>部门：<a >{$onlineUser['department']}  </a></td>
                        </tr>
                        <tr>
                        	<td colspan="3">单位中文名称：<a >{$onlineUser['company_cname']} </a></td>
                        </tr>
                        <tr>
                        	<td colspan="3">单位英文名称：<a >{$onlineUser['company_ename']} </a></td>
                        </tr>
                        <tr>
                        	<td width="262">单位网站：<a >{$onlineUser['company_website']} </a></td>
                            <td>单位地址：<a >{$onlineUser['company_address']}  </a></td>
                        </tr>
                        <tr>
                        	<td colspan="3">所属行业：<a >{$onlineUser['industry']} </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="company-03">
            <ul id="tech">
                <li class="current">您所关注的产品</li>
                <li>B2B 商务洽谈</li>
            </ul>
            <div class="company-06">
            	<div id="tech_content">
                    <div class="fixnone company-04">
                        <?php
                        foreach($choosenFatherList as $father){
						?>
                        <div class="company-05">
                            <h1>▪ <php>echo $father['cname'];</php><php>if($father['ename'] != ''){ echo '/'.$father['ename'];}</php></h1>
                            <?php 
                            foreach($choosenList[$father['id']] as $k=>$v){
							?>
                            <p>{$v['cname']}{$v['ename']}</p>
                            <?php
                            }
							?>
                        </div>
                        <?php
                        }
						?>
                    </div>
                    <div class="fixnone company-04" style="display:none;">
                        <div class="company-05">
                            <p><strong>需要何种合作或帮助：</strong>{$onlineUser['cooperation_need']}</p>
                            <p><strong>是否有投融资需求：</strong>{$onlineUser['fund_demand']==1 ? '是' : '否'}</p>
                            
                        </div>
                    </div>
                </div>
                                <div class="company-08">
                	<h1>选择对接时间（红色表示当前已预约，黄色表示待定中，请选择绿色时间点）</h1>
                    <div class="company-07">
                        <form action="{:U('schedule/setSchedule')}" id="form1" method="post"  target="_self">
	                    <?php
	                    foreach($dayConfig as $day_k => $day_v){
						?>
	                        <dl>
	                            <dd>{$day_v}</dd>
	                            <dt>
	                            <?php
	                    		foreach($timeConfig as $time_k => $time_v){
									if(in_array($calendarListDay[$day_k][$time_k]['id'],$scheduleListCid) || $calendarListDay[$day_k][$time_k]['status']==0){
										$pic = $scheduleListCidKV[$calendarListDay[$day_k][$time_k]['id']] == 1 ? 'yellow' : 'red';
										$checkable = 0;
									}else{
										$pic = 'green';
										$checkable = 1;
									}

								?>
	                            	<a class="time_block">
	                            	<img src="/images/Online/icon_{$pic}.jpg" />
	                            	&nbsp;&nbsp;{$time_v}
	                            	<?php if($checkable == 1){ ?>
	                            	<input name="calendar_id" type='radio' value="{$calendarListDay[$day_k][$time_k]['id']}"/>
	                            	<?php } ?>
	                            	</a>
	                            <?php
	                            }
                            	?>
	                            </dt>
	                        </dl>
	                    <?php
	                    }
                    	?>
	                        <div class="but-box">
	                        	<input name="accept_uid" type='hidden' value="{$_GET['uid']}"/>
	                        	<input type="submit" value=" 提交对接时间" />
	                        </div>
	                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-right">
        <div class="iconBox" style="margin-top: 10px;">
            <div class="icon">
            	<img src="/images/Online/icon_myduijie.jpg" />
                <div class="icon-text">
                	<h1><a href="{:U('index/detail')}" target="_self">我的对接</a></h1>
                    <p>Apply docking</p>
                </div>
                <span></span>
            </div>
        </div>
        <!-- <div class="news-text">
        	<h1>推荐企业</h1>
            <ul>
            	<li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li class="currentLi"><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
            </ul>
        </div> -->
    </div>
</div>
<include file="Online/online/View/partial/Public_footer.html"/>
</body>
</html>
