 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>在线对接会-首页</title>
<link href="/css/Online/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/Online/jquery-1.7.2.min.js"></script>
<script src="/js/Online/index.js"></script>
<script type="text/javascript">
$(function(){
	$("#news li").click(function(){
	  $(this).attr("class","current").siblings().attr("class","");
	  $("#news_content .fixnone").eq($(this).index()).show().siblings().hide();	
	})
})
$(function(){
	$("#tech li").click(function(){
	  $(this).attr("class","current").siblings().attr("class","");
	  $("#tech_content .fixnone").eq($(this).index()).show().siblings().hide();	
	})
})
</script>
</head>

<body>
<div class="topbg">
  <div class="container">
      <div class="logoBox"><img src="//images/Online/Online/logo_02.jpg"></div>
      <div class="top_right">
          <div class="navbar">
             <div class="left"><a href="#">登录</a><a href="#">免费注册</a>客服热线：400-000-0000</div>
             <div class="right"><a href="#">会员服务</a>|<a href="#">网站导航</a>|<a href="#">English</a></div>
             <div class="clear"></div>
          </div>
          <div class="top_list">
             <table cellpadding="0" cellspacing="0" border="0" width="100%">
                 <tbody><tr>
                    <td><a href="#" class="link">新闻</a></td>
                    <td class="tdbg"><a href="#">产经</a><a href="#">政策</a><a href="#">企业</a><a href="#">热点</a></td>
                    <td><a href="#" class="link">咨询 </a></td>
                    <td class="tdbg"><a href="#">融资</a><a href="#">创新</a></td>
                    <td><a href="#" class="link">科技创新</a></td>
                    <td><a href="#">开放平台</a><a href="#">仪器共享</a></td>
                 </tr>
                 <tr>
                    <td><a href="/index.php/News/Products/index" class="link">产品</a></td>
                    <td class="tdbg"><a href="/index.php/News/Supply/index">供应</a><a href="#">求购</a><a href="/index.php/News/Companys/index">公司</a><a href="#">二手</a></td>
                    <td><a href="#" class="link">成果 </a></td>
                    <td class="tdbg"><a href="#">技术</a><a href="#">项目</a></td>
                    <td><a href="#" class="link">在线对接</a></td>    
                    <td><a href="#">会议申请</a><a href="#">在线会议室</a></td>
                 </tr>
                 <tr>
                   <td colspan="6" class="Hr">&nbsp;</td>
                 </tr>
                 <tr>
                    <td><a href="#" class="link">资料</a></td>            
                    <td class="tdbg"><a href="#">图书</a><a href="#">视频</a><a href="#">PPT</a><a href="#">论文集</a></td>
                    <td><a href="#" class="link">招商  </a></td>         
                    <td class="tdbg"><a href="#">园区</a><a href="#">政策</a></td>
                    <td><a href="#" class="link">学会集群</a></td>
                    <td><a href="#">学会介绍</a><a href="#">会员天下</a></td> 
                 </tr>
                 <tr>
                    <td><a href="#" class="link">会展</a></td>             
                    <td class="tdbg"><a href="#">精品</a><a href="#">展库</a><a href="#">在线会展</a></td>
                    <td><a href="#" class="link">专家  </a></td>         
                    <td class="tdbg"><a href="#"> 访谈</a><a href="#">专家库</a></td>
                    <td><a href="#" class="link">培训认证</a></td>
                    <td><a href="#" class="link">专题行业数据</a></td>
                    <td rowspan="5" width="120"><input type="button" class="btn" value="我有需求"></td>
                 </tr>
             </tbody></table>
          </div>
      </div>
      <div class="clear"></div>
  </div>
</div>
<div class="headbg">
   <div class="container">
       <div class="logo"><img src="/images/Online/logo_08.jpg"></div>
       <div class="box">
          <div class="clear">
          	<div class="search">
            	<div class="search-01">
                	<input value="所有行业"  class="txt_bg" />
                    <a href="#" class="falg"><img src="/images/Online/seach_10.jpg" /></a>
                    <div class="lie">
                       <P><a href="#">11111</a></P>
                       <P><a href="#">222</a></P>
                       <P><a href="#">333</a></P>
                       <P><a href="#">444</a></P>
                    </div>
                </div>
                <div class="search-02">
                	<img src="/images/Online/seach_12.jpg" />
                    <input value="请输入关键词" />
                </div>
                <div class="search-03">
                	<input name="" type="button" value="搜索" />
                </div>
            </div>
          </div>
       </div>
       <div class="clear"></div>
   </div>
</div>
<div class="navBox">
	<ul>
    	<li><a href="#" class="currentA">首页</a></li>
        <li><a href="#">会议申请</a></li>
        <li><a href="#">在线会议室</a></li>
    </ul>
</div>
<div class="mainBox">
    <div class="main-left">
    	<div class="main-left-01">
        	<h1>在线对接</h1>
            <div class="techlist_04">
          <table cellpadding="0" cellspacing="0" border="0">
              <tr valign="top">
                 <td width="60"><span>行业类别</span></td>
                 <td>
                     <div class="techlist_05">
                         <ul id="list">
                            <li>
                               <div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;光学</a></div>
                               <div class="sbox">
                                  <ol>
                                      <li><font></font><a href="#" class="link2">激光晶体 </a></li>
                                      <li><font></font><a href="#" class="link2">固体激光器 </a></li>
                                      <li><font></font><a href="#" class="link2">激光加工  </a></li>
                                      <li><font></font><a href="#" class="link2">制版照排  </a></li>
                                      <li><font></font><a href="#" class="link2">晶体加工镀膜 </a></li>
                                      <li><font></font><a href="#" class="link2">激光扫描 </a></li>
                                      <li><font></font><a href="#" class="link2">打标喷码 </a></li>
                                      <li><font></font><a href="#" class="link2">激光气体 </a></li>
                                      <li><font></font><a href="#" class="link2">半导体激光器 </a></li>
                                      <li><font></font><a href="#" class="link2">光纤激光器 </a></li>
                                      <li><font></font><a href="#" class="link2">激光雕刻 </a></li>
                                      <li><font></font><a href="#" class="link2">激光测距 </a></li>
                                      <li><font></font><a href="#" class="link2">激光灯 </a></li>
                                      <li><font></font><a href="#" class="link2">气体激光器 </a></li>
                                      <li><font></font><a href="#" class="link2">激光切割 </a></li>
                                      <li><font></font><a href="#" class="link2">全息防伪 </a></li>
                                      <li><font></font><a href="#" class="link2">激光电源及驱动 </a></li>
                                  </ol>
                               </div>
                            </li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;激光器及激光...</a></div></li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;光电测试、测量...</a></div></li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;红外产品及应用...</a></div></li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;光通讯系统设备...</a></div></li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;传感器</a></div></li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;电子元器件</a></div></li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;光机电一体化</a></div></li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;公共安全防范</a></div></li>
                            <li><div class="normal"><span></span><a href="#" class="sub-link">&nbsp;&nbsp;智能装备</a></div></li>
                         </ul>
                     </div>
                 </td>
             </tr>
          </table>
       </div>
        </div>
        <div class="main-left-02">
        	<dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <dl>
            	<dd>
                	<h1><a href="#">【JS00713】北京光纤激光技术有限公司</a></h1>
                    <span>发布时间：2015-02-12</span>
                </dd>
                <dt><span>公司相关简介：</span>我们的产品正在以全新的激光应用取代众多领域内传统的激光应用。作为光纤激光器和放大器开发和商业化领域的先驱，
                        公司正凭借自己的品牌和地位使自己的公司的市场份额不断地扩大。IPG激光器凭借其卓越的性能和价值将继续取代许多现有应用领域的传统
                        激光设备，简言之， IPG产品正在使今天的市场格局发 ...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">详细信息>></a>
                </dt>
            </dl>
            <div class="numBox">
            	<a href="#" class="num1">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#" class="num2">3</a>
                <a href="#">4</a>
                <a href="#">...</a>
                <a href="#" class="num1">下一页</a>
            </div>
        </div>
    </div>
    <div class="main-right">
    	<div class="iconBox">
        	<div class="icon">
            	<img src="/images/Online/icon_07.jpg" />
                <div class="icon-text">
                	<h1><a href="#">申请对接</a></h1>
                    <p>Apply docking</p>
                </div>
                <span></span>
            </div>
        </div>
        <div class="news-text">
        	<h1>推荐企业</h1>
            <ul>
            	<li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
                <li class="currentLi"><a href="#"><span>[ 推荐 ]</span> NANO科技北京有限公司</a></li>
            </ul>
        </div>
    </div>
</div>






<div class="footer">
	<h1><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    	<a href="#">广告咨询</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">帮助信息</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">会员服务</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">网站导航</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">国际站</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </h1>
    <p> 我们的网站：科济天下网 | 产品商贸网 | 技术 | 会展 | 招商 | 咨询评估 | 创新实验室<br />
        客服热线：022-0000 0000   客服传真：022-0000 0000    业务联系：022-0000 0000<br />
        Copyright © 2015, All Rights Reserved. <br />
        中文版权所有－科济天下网网站所有图片、文字未经许可不得拷贝、复制。</p>
</div>
</body>
</html>
 