<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<script src="js/jquery.js"></script>
<script src="js/index.js"></script>
</head>

<body>
  <div class="header">
     <div class="headerTop">
     	<div class="headerTOP01">
        	<div class="logo">
             	<img src="images/logo_02.jpg" />
            </div>
            <div class="link01">
            	<ul>
                	<li><a href="#"><img src="images/2_05.jpg" /></a></li>
                    <li><a href="#"><img src="images/2_07.jpg" /></a></li>
                    <li><a href="#">中文 </a> |<a href="#">English</a></li>
                </ul><div class="clear"></div>
                <p>2016年5月9日-11日  |  北京国家会议中心 </p>
                <p>May9-11  |  Beijing China</p>
            </div>
        </div>
     </div>
     <div class="navBox">
     	<div class="nav01">
        	<ul>
            	<li><a href="#">首页</a></li>
                <li><a href="#">主题会展</a></li>
                <li ><a href="#">参观指南</a></li>
                <li><a href="#">参展指南</a></li>
                <li class="current"><a href="#">下载中心</a></li>
                <li><a href="#">对接系统</a></li>
                <li><a href="#">合作媒体</a></li>
                <li><a href="#">商旅中心</a></li>
                <li><a href="#">关于我们</a></li>
            </ul><div class="clear"></div>
        </div>
     </div>
  </div>
  <div class="newsBoX">
  	<div class="banner01">
    	<a href="#"><img src="images/act_02.jpg" /></a>
    </div>
	<div class="activity-02">
		<div class="top"><a href="#" class="back">返回列表></a><input type="button"value="参会报名" class="register"></div>
		<div class="title2">国际高功率激光技术与高能激光应用研讨会</div>
		<div class="info">
		<p>高功率激光在物理学、化学、材料科学、生命科学、环境科学、能源科学等国民经济、前沿科学研究方面具有重要应用；在激光雷达、光电对抗等国家安全领域更有重大的应用潜力，是近年国际上最大的热点之一。针对高功率激光的发展现状和国家安全及前沿科学研究的应用需求，进一步提升我国高功率激光技术的整体研究水平，开拓产业化市场，中国宇航学会光电技术专业委员会联合相关单位于2013年4月15—17日在成都举办“国际高功率激光技术发展及应用研讨会”。会议组委会力邀国际上从事高功率激光技术研究的资深专家来华，为国内技术人员带来国际最新资讯、展示和讲解前沿技术发展思路和研究成果，引领我国激光科学技术与产业化发展的方向。诚挚欢迎国内从事激光技术研究的专家、科研人员、研究生、企业人士积极参会。<p>
<p>会议特色：<p>
◆邀请国际高功率激光器前沿领域的专家，提供国际化交流与合作平台。
◆国内外业界资深专家牵引，搭建高端学术、技术与产业对接平台，实现研讨收益的最大化。同期活动：
 高端学术报告会
激光应用及产业化发展论坛                                        
合作对接洽谈会
高功率激光技术短课程培训
 
组织机构：
主办单位：中国宇航学会、美国光学学会（OSA）、美国光学工程学会（SPIE）
承办单位：中国宇航学会光电技术专业委员会       
                  中科院长春光机所发光学及应用国家重点实验室
                  中国工程物理研究院高能激光科学与技术重点实验室
                  中国工程物理研究院应用电子学研究所   
联办单位：上海交通大学激光等离子体教育部重点实验室
                  中国工程物理研究院激光聚变研究中心
                  清华大学电子工程系
支持媒体： 《红外与激光工程》（Ei） 《强激光与粒子束》（Ei）  
                  《SPIE文集》（Ei）        中国宇航光电资讯网
		</div>
	</div>
  </div>
 </div>
 <div class="clear"></div>
  <div class="footer">
     <div class="copyright">
     	<p>北京宇航会展有限公司版权所有  京ICP备12003248号 </p>
     </div>
  </div>
</body>
</html>
