<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>活动列表-{:C('site_name')}</title>
<meta name="description" content="{:C('site_description')}">
<meta name="keywords" content="{:C('site_keyword')}">
<meta name="title" content="{:C('site_title')}">
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
<script src="/js/jquery.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/index/common.js"></script>
</head>

<body>
  <include file="Public:header"/>
  <!--{$result['info']}-->
  <!--<div class="biaoge" style="width:1080px; margin:0 auto;">
      <div class="biaoge01" style="width:1080px; overflow:hidden;">
          <div class="biaoge02" style="width:1080px; overflow:hidden;">
              <p style="font-size:16px;  margin:0; padding:0; color:#F00; display:block;">活动日程表/Activities Schedule（以现场为准）：</p>
              <p style="font-size:14px; margin:0; padding:0; color:#000; font-weight:bold; text-indent:30px;">
                  参观时间 ：<span style="font-size:12px; color:#333; font-weight:normal;">5月9-11日 08:30-17:00</span></p>
              <p style="font-size:14px; margin:0; padding:0; color:#000; font-weight:bold; text-indent:30px;">
                  Visit Time：<span style="font-size:12px; color:#333; font-weight:normal;">08:30-17:00, 9th-11th,  May</span></p>
              <p style="font-size:14px; margin:0; padding:0; color:#000; font-weight:bold; text-indent:30px;">
                  展会地点：<span style="font-size:12px; color:#333; font-weight:normal;">北京国家会议中心【北京市朝阳区天辰东路7号，靠近鸟巢、水立方】</span></p>
              <p style="font-size:14px; margin:0; padding:0; color:#000; font-weight:bold; text-indent:30px;">
                  Location：<span style="font-size:12px; color:#333; font-weight:normal;"> CNCC</span></p>
          </div>
      </div>
  </div>-->
  <div style="width:1080px; margin:0 auto; padding-top:10px;">
      <!--<table  cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr style="background:rgb(199, 0, 10);">
              <td width="15%"  style="text-align:center; border: solid 1px #fff; color:#FFF; font-family: "微软雅黑"">
              <p>日  期</p>
              <p>Date</p>
              </td>
              <td width="15%" style="text-align:center; border: solid 1px #fff; color:#FFF; font-family:"微软雅黑"">
              <p>时  间</p>
              <p>Time</p>
              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;color:#FFF; font-family: "微软雅黑" ">
              <p>活 动 名 称</p>
              <p>Event</p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff; color:#FFF; font-family: "微软雅黑"">
              <p>地  点</p>
              <p>Location</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" rowspan="15" style="text-align:center; border: solid 1px #fff;">
                  <p>5月9日</p>
                  <p>9th May</p>
              </td>
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.cipeasia.com/"><p>2016年中国（北京）国际高新技术交流展洽会暨2016年光电子中国博览会</p>
                  <p>Photonics China Expo 2016 and 2016 China(Beijing) International Technology Exchange Fair</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆</p>
                  <p>Exhibition Hall5,6 B</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                 <a href="http://www.cipeasia.com/theme/16.html"> <p>百所高校、重点实验室技术成果展示对接会</p>
                  <p>College and Key Laboratories’ Achievements Exhibition</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆</p>
                  <p>Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <p>纪念光纤发明50周年技术成果专题展</p>
                 <a href="http://vr.gfang.cn/index.htm"> <p>2016中国虚拟现实与3D成像显示技术、设备展览会</p></a>
                  <p>"50 Anniversary of the Invention of Optical Fiber" Achievements Exhibition</p>
                  <p>2016 China Virtual Reality and 3D imaging Display Technology and Equipment Exhibition</p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层大宴会厅AB</p>
                  <p>Ballroom A+B, 1st Floor</p>
              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-16:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.csoe.org.cn/ofc50//"><p>纪念光纤发明50周年大会</p>
                      <p>"50 Anniversary of the Invention of Optical Fiber" Conference</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>三层311</p>
                  <p>311, 3rd Floor</p>
              </td>
          </tr>
           <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:00-20:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.csoe.org.cn/ipta2016//"><p>国际光电技术与应用系列创新研讨会
（OTA 2016）会议注册</p>
                      <p>OTA 2016 Registration</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5号展馆门口</p>
                  <p>Entrance of Exhibition Hall5 B1</p>
              </td>
          </tr>
           <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-15:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/65/87/p328157280d6059"><p>红外与激光工程》读者见面会</p>
                      <p>Editor in Chief Meet with Youth Authors</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6层展馆注册区附近展桌</p>
                  <p>Desk near registration desk, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://vr.gfang.cn/index.htm"><p>2016年虚拟现实技术创新及产业发展论坛</p>
                  <p>2016 China Virtual Reality Technology and Industry Development Forum</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层多功能厅C</p>
                  <p>Function C, 1st Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <p>信息通信动态新技术科普体验</p>
                  <p>Dynamic New Technologies of Information and Communication Science Experience</p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层大宴会厅体验区</p>
                  <p>Ballroom A+B, 1st Floor</p>
              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:30-16:30</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/3/63/p31670596508b7c"><p>创新创业与投融资对接大会</p>
                      <p>Innovation and Investment Matchmaking Conference</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区2</p>
                  <p>Area 2, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:30-16:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.csoe.org.cn/awards/"><p>中国光学工程学会科技创新奖发布专场</p>
                      <p>CSOE Technology Innovation Award Matchmaking Fair</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层大宴会厅发布区</p>
                  <p>Ballroom A+B, 1st Floor</p>
              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>10:00-11:30</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/10/31/p3294399722f40e"><p>校企合作与军民融合对接会
                      ——航天/军民融合项目发布专场</p>
                      <p>School-enterprise Cooperation and Civil-military Integration Matchmaking Meetings</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区1</p>
                  <p>Area 1, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-16:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/10/31/p3294399722f40e"><p>校企合作与军民融合对接会
                      ——航天/军民融合项目发布专场</p>
                      <p>School-enterprise Cooperation and Civil-military Integration Matchmaking Meetings</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区1</p>
                  <p>Area 1, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
         
          
          
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:30-16:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/48/68/p32940643213e36"><p>科普公开课：从地球到宇宙</p>
                      <p>Public Talk: All Around the World and Through the Universe</p></a>
                  <p>讲师：Gordon K. Squires</p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区3</p>
                  <p>Area3, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-16:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href=""><p>Technical courses 短课程
A.Principle and Application of Optical Interference Testing，光学干涉检验原理及应用
B.Wavefront Analysis 波前分析</p>
                     
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>三层303B</p>
                  <p>303B, 3rd Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>15:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href=""><p>《红外与激光工程》期刊工作讨论会</p>
                     
                  <p>Journal Work Conference</p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>三层301A</p>
                  <p>301A, 3rd Floor</p>
              </td>
          </tr>

      </table>
  </div>


  <div style="width:1080px; margin:0 auto; padding-top:10px;">
      <table  cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" rowspan="28" style="text-align:center; border: solid 1px #fff;">
                  <p>5月10日</p>
                  <p>10th, May</p>
              </td>
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.cipeasia.com/"><p>2016年中国（北京）国际高新技术交流展洽会暨2016年光电子中国博览会</p>
                  <p>Photonics China Expo 2016 and 2016 China(Beijing) International Technology Exchange Fair</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆</p>
                  <p>Exhibition Hall5,6 B</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                 <a href="http://www.cipeasia.com/theme/16.html"> <p>百所高校、重点实验室技术成果展示对接会</p>
                  <p>College and Key Laboratories’ Achievements Exhibition</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆</p>
                  <p>Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <p>纪念光纤发明50周年技术成果专题展</p>
                  <a href="http://vr.gfang.cn/index.htm"><p>2016中国虚拟现实与3D成像显示技术、设备展览会</p></a>
                  <p>"50 Anniversary of the Invention of Optical Fiber" Achievements Exhibition</p>
                  <p>2016 China Virtual Reality and 3D imaging Display Technology and Equipment Exhibition</p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层大宴会厅AB</p>
                  <p>Ballroom A+B, 1st Floor</p>
              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-12:30</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.csoe.org.cn/ipta2016/"><p>国际光电技术与应用系列创新研讨会
                      （OTA 2016）开幕式、中国光学工程学会颁奖仪式及大会报告</p>
                  <p>The International Symposium on Optoelectronic Technology and Application（OTA 2016）Opening Ceremony, CSOE Award Ceremony and OTA Plenary Talks</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层多功能厅AB</p>
                  <p>Function A+B, 1st Floor</p>
              </td>
          </tr>
           <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <p>信息通信动态新技术科普体验</p>
                  <p>Dynamic New Technologies of Information and Communication Science Experience</p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层大宴会厅体验区</p>
                  <p>Ballroom A+B, 1st Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-12:20</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.csoe.org.cn/ofc50/4K.asp"><p>中国联通4K与家庭互联网高峰论坛暨
                      中国联通与华为公司4K联合创新签约仪式</p>
                      <p>China Unicom and 4K home Internet Summit Forum and Joint Innovation 4K Signing Ceremony between China Unicom and Huawei</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>三层310</p>
                  <p>310, 3rd Floor</p>
              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-16:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.csoe.org.cn/ofc50/400G.asp"><p>备战400G——新型光纤光缆技术创新及产业应用高峰论坛</p>
                      <p>Preparing 400G-- New Fiber Optic Cable Technology and Industrial Application Forum</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>三层308</p>
                  <p>308, 3rd Floor</p>
              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.csoe.org.cn/cb/"><p>2016年云计算与大数据在智能工业中的发展及应用高峰论坛</p>
                      <p>2016 Cloud Computing and Big Data Intelligence Industry Development Forum</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>三层306A</p>
                  <p>306A, 3rd Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://ofs.cipeasia.com/"><p>第五届中国（北京）国际光纤传感技术及应用大会</p>
                      <p>The 5th China (Beijing) International Symposium of Optical Fiber Sensors Technology and Applications</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层多功能厅C</p>
                  <p>Function C, 1st Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:30-15:40</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/89/93/p333037887454a1"><p>2016年高新技术新品发布会光通信与光传感发布专场</p>
                      <p>Optical communications, fiber sensors enterprises promotion conference</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层多功能厅C</p>
                  <p>Function C, 1st Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>10:00-12:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <p>中国光学工程学会助推创新驱动助力工程——项目洽谈大会暨签约仪式</p>
                  <p>Promote "Innovation Assistance Project" and Projects matchmaking Conference among among CSOE and Regional Associations</p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区2</p>
                  <p>Area 2, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>10:00-12:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/10/31/p3294399722f40e"><p>校企合作与军民融合对接会
——企业新品专场</p>
                  <p>School-enterprise Cooperation and Civil-military Integration Matchmaking Meetings</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区1</p>
                  <p>Area 1, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>13:30-16:30</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/10/50/p3293906822226f"><p>工业4.0与智能制造高峰论坛</p>
                  <p>Industry 4.0 and Intelligent Manufacturing Forum</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区3</p>
                  <p>Area3, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>13:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/31/12/p328197048dc64f"><p>第五届红外与微光技术高端学术论坛暨红外与微光技术应用产业联盟会议</p>
                      <p>Fifth Infrared and Low Level Light Conference andInfrared and Low Level Light Technology Industry Alliance Meeting</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>二层203A+B</p>

                  <p>203A+B, 2nd Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-16:30</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/10/31/p3294399722f40e"><p>校企合作与军民融合对接会——国际新品新技术专场</p>
                      <p>School-enterprise Cooperation and Civil-military Integration Matchmaking Meetings</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区1</p>
                  <p>Area 1, Exhibition Hall5,6 B1</p>
              </td>
          </tr>

          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-16:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://m.cipeasia.com/pc/?url=/92/33/p3294348332dcba"><p>京津科技谷投资洽谈会</p>
                      <p>Jing-jin Technology Valley Investion Meeting</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆发布区2</p>
                  <p>Area 2, Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-16:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <p>地方科协与学会项目对接会</p>
                  <p>Regional Associations and Projects Matchmaking Meetings </p>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆地方科协对接区</p>
                  <p>Regional Associations Area,Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际高功率激光技术与高能激光应用研讨会</p>
                  <p>OTA Conf.1 High power lasers and high energy lasers </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>305. 3rd Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              		<a href="http://www.csoe.org.cn/ipta2016/"><p>国际激光先进制造技术及应用研讨会</p>
                    <p>（原专题2.国际激光制造与激光检测技术研讨会与原专题3.国际3D打印技术及其应用研讨会合并）</p>
                  <p>OTA Conf.2 Advanced Laser manufacturing </p>
                  <p>technology(Conf.2 Laser manufacturing and laser detection technology and Conf.3 3D printing technology)</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>303B, 3rd Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              		<a href="http://www.csoe.org.cn/ipta2016/"><p>国际先进光学系统设计与制造及应用研讨会</p>
                  <p>OTA Conf.4 Advanced optical design and manufacturing technologies)</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>303A, 3rd Floor</p>

              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              		<a href="http://www.csoe.org.cn/ipta2016/"><p>国际光学检测技术及仪器研讨会</p>
                  <p>OTA Conf.5 Optical measurement technology and instrument</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>302A+B, 3rd Floor</p>

              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际机器人先进感知与智能控制技术研讨会</p>
                  <p>OTA Conf.6 Robot sensing and advanced control </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>405, 4th Floor</p>

              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际天文望远镜与仪器研讨会</p>
                  <p>OTA Conf.7 Astronomical telescopes and instrumentation</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>403, 4th Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际大数据光存储技术研讨会</p>
                  <p>OTA Conf.8 Optical Memories for Big Data Storage</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>406, 4th Floor</p>


              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              		<a href="http://www.csoe.org.cn/ipta2016/"><p>国际高光谱遥感应用研讨会</p>
                  <p>OTA Conf.9 Hyperspectral remote sensing applications</p></a>


              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>301A+B, 3rd Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际硅基光电子与集成研讨会</p>
                  <p>OTA Conf.11 Silicon-based photonic integration </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>407, 4th Floor</p>


              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>14:00-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              		<a href="http://www.csoe.org.cn/ipta2016/"><p>国际红外技术与应用研讨会</p>
                  <p>OTA Conf.12 Infrared technology and application </p></a>


              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>402A+B, 4th Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>108:30-12:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际环境监测与安全检测技术及应用研讨会</p>
                  <p>OTA Conf.13 Environmental monitoring and safety testing technology </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>407, 4th Floor</p>


              </td>
          </tr>




      </table>
  </div>


  <div style="width:1080px; margin:0 auto; padding-top:10px;">
      <table  cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" rowspan="15" style="text-align:center; border: solid 1px #fff;">
                  <p>5月11日</p>
                  <p>11th, May</p>
              </td>
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://www.cipeasia.com/"><p>2016年中国（北京）国际高新技术交流展洽会暨2016年光电子中国博览会</p>
                  <p>Photonics China Expo 2016 and 2016 China(Beijing) International Technology Exchange Fair</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆</p>
                  <p>Exhibition Hall5,6 B1</p>
              </td>
          </tr>
          
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                 <a href="http://www.cipeasia.com/theme/16.html"> <p>百所高校、重点实验室技术成果展示对接会</p>
                      <p>College and Key Laboratories’ Achievements Exhibition</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>地下一层5、6号展馆</p>
                  <p>Exhibition Hall5,6 B1</p>
              </td>
          </tr>
           <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <p>纪念光纤发明50周年技术成果专题展</p>
                  <a href="http://vr.gfang.cn/index.htm"><p>2016中国虚拟现实与3D成像显示技术、设备展览会</p></a>
                      <p>50 Anniversary of the Invention of Optical Fiber" Achievements Exhibition</p>
                      <p>2016 China Virtual Reality and 3D imaging Display Technology and Equipment Exhibition</p>
                      
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层大宴会厅AB</p>
                  <p>Ballroom A+B, 1st Floor</p>
              </td>
          </tr>
          
          
         
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href=""><p>信息通信动态新技术科普体验</p>
                      <p>Dynamic New Technologies of Information and Communication Science Experience</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层大宴会厅体验区</p>
                  <p>Ballroom A+B, 1st Floor</p>
              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>09:00-17:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
                  <a href="http://ofs.cipeasia.com/"><p>第五届中国（北京）国际光纤传感技术及应用大会
                      ——企业新品专场</p>
                      <p>The 5th China (Beijing) International Symposium of Optical Fiber Sensors Technology and Applications</p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>一层多功能厅C</p>
                  <p>Function C, 1st Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际高功率激光技术与高能激光应用研讨会</p>
                  <p>OTA Conf.1 High power lasers and high energy lasers</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>305. 3rd Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际激光先进制造技术及应用研讨会</p>
                <p>（原专题2.国际激光制造与激光检测技术研讨会与原专题3.国际3D打印技术及其应用研讨会合并）</p>
                  <p>OTA Conf.2 Advanced Laser manufacturing technology(Conf.2 Laser manufacturing and laser detection technology and Conf.3 3D printing technology)  </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>303B, 3rd Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际先进光学系统设计与制造及应用研讨会</p>
                  <p>OTA Conf.4 Advanced optical design and manufacturing technologies)</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>303A, 3rd Floor</p>

              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际光学检测技术及仪器研讨会</p>
                  <p>OTA Conf.5 Optical measurement technology and instrument </p></a>
              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>302A+B, 3rd Floor</p>

              </td>
          </tr>
          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-12:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              		<a href="http://www.csoe.org.cn/ipta2016/"><p>国际机器人先进感知与智能控制技术研讨会</p>
                  <p>OTA Conf.6 Robot sensing and advanced control </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>405, 4th Floor</p>

              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际天文望远镜与仪器研讨会</p>
                  <p>OTA Conf.7 Astronomical telescopes and instrumentation</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>403, 4th Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-12:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际天文望远镜与仪器研讨会</p>
                  <p>OTA Conf.8 Optical Memories for Big Data Storage </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>406, 4th Floor</p>
              </td>
          </tr>
          <tr style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际高光谱遥感应用研讨会</p>
                  <p>OTA Conf.9 Hyperspectral remote sensing applications </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>301A+B, 3rd Floor</p>

              </td>
          </tr>

          <tr style="background:rgb(245, 245, 245);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-18:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              	<a href="http://www.csoe.org.cn/ipta2016/"><p>国际红外技术与应用研讨会</p>
                  <p>OTA Conf.12 Infrared technology and application</p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>402A+B, 4th Floor</p>

              </td>
          </tr>
          <tr  style="background:rgb(251, 229, 228);">
              <td width="15%" style="text-align:center; border: solid 1px #fff;">
                  <p>08:30-12:00</p>

              </td>
              <td width="50%" style="text-align:center; border: solid 1px #fff;">
              <a href="http://www.csoe.org.cn/ipta2016/">	<p>国际环境监测与安全检测技术及应用研讨会</p>
                  <p>OTA Conf.13 Environmental monitoring and safety testing technology </p></a>

              </td>
              <td width="20%" style="text-align:center; border: solid 1px #fff;">
                  <p>401, 4th Floor</p>

              </td>
          </tr>

      </table>-->
	<img src="/images/z05.png" />
	<img src="/images/z09.png" />
	<img src="/images/z10.png" />
  </div>
  <include file="Public:footer"/>
</body>
</html>
