<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商旅中心-{:C('site_name')}</title>
<meta name="description" content="{:C('site_description')}">
<meta name="keywords" content="{:C('site_keyword')}">
<meta name="title" content="{:C('site_title')}">
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
<script src="/js/jquery.js"></script>
<script src="/js/index.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/common.js" language="javascript"></script>
<script>
$(function(){
	$("base").attr("target","");
	$(".nav01 ul li a").attr("target","_blank");
})
</script>
</head>

<body>
  <include file="Public:header"/>
  <div class="newsBoX">
  	<div class="banner01">
    	<a href="#"><img src="/images/center_02.jpg" /></a>
    </div>
  	<div class="link02">
    	<ul id="busine">
        	<li class="current1"><a href="http://www.cipeasia.com/TrafficGuidance.html">场馆交通</a></li>
            <li><a href="#">物流信息</a></li>
            <li><a href="http://www.ciec-expo.com/ciec/ciecexpo/channels/2416.html">酒店住宿</a></li>
        </ul><div class="clear"></div>
    </div>
    <div id="busine_content">
      <div class="BusinessBox">
    	{$art['info']}
     </div>
     <div class="BusinessBox" style="display:none;">
       {$art1['info']}
     </div>
     <div class="BusinessBox" style="display:none;">
       {$art2['info']}
     </div>
  </div>
  </div>
  <include file="Public:footer"/>
</body>
</html>





















































































