<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{:C('site_name')}</title>
<meta name="description" content="{:C('site_description')}">
<meta name="keywords" content="{:C('site_keyword')}">
<meta name="title" content="{:C('site_title')}">

    <script type="text/javascript" src="/js/jquery-1.7.2.min.js" language="javascript"></script>
    <script type="text/javascript" src="/js/common.js" language="javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/index.js"></script>
<!--<script type="text/javascript" src="/js/common.js" language="javascript"></script>-->
<!--[if lte IE 6]>
<script type="text/javascript" src="js/PNG.js"></script>
<script type="text/javascript" src="js/PNGClass.js"></script>
<![endif]-->
<script type="text/javascript">
$(document).ready(function () {
  var mySwiper = new Swiper('.swiper-container',{
    loop: true,
	autoplay: 3000,
	pagination: '.swiper-pagination',
    paginationClickable: true,
	
  });
})
$(function(){

		$("#carousel_point").find("li:first").attr("class","libg");
		
})
var ss=<?php echo $num ?>;
var dd=ss-1;
function bindCarousel(){
    jQuery('#carousel_point li').click(function(){
        jQuery('#carousel_point .libg').removeClass('libg')
        jQuery(this).addClass('libg');
        var img_num = parseInt(jQuery(this).attr('turn'));
        carousel(img_num);
    })
}
function showPvNum(pv){
    var len = String(pv).length;
    var count = 1;
    for(var i = len - 1 ; i >=0 ; i--){
        var num = -parseInt(String(pv).charAt(i));
        jQuery('#pv_num').prepend('<li style="background-position:0 '+num*35+'px"></li>');
        if( count%dd == 0 && i != 0 ){
            jQuery('#pv_num').prepend('<li class="point"></li>');
        }
        count++;
    }
}
function showGarbageNum(garbage_num){
    var len = String(garbage_num).length;
    var count = 1;
    for(var i = len - 1 ; i >=0 ; i--){
        var num = -parseInt(String(garbage_num).charAt(i));
        jQuery('#garbage_num').prepend('<li style="background-position:0 '+num*30+'px"></li>');
        if( count%dd == 0 && i != 0 ){
            jQuery('#garbage_num').prepend('<li class="point"></li>');
        }
        count++;
    }
}

var last_cmt_num = 0;
function getCmtNum(){
    jQuery.ajax({
        type: 'get',
        dataType: 'json',
        cache: false,
        success: function(data){
            if(data.success){
                var random = Math.round(Math.random()*10) - ss;
                if( data.cmt_num > last_cmt_num ){
                    var num = data.cmt_num + random;
                    show_num(num);
                }
                last_cmt_num = data.cmt_num;
            }
        }
    });
}

function show_num(n){ 
    //先补齐缺少的数字位数
    var it = jQuery('#cmt_num li.num_item');
    var len = String(n).length;
    for(var i = it.length + 1; i <= len; i++){
        jQuery('#cmt_num').prepend('<li class="num_item"></li>');
        if( i%dd == 0 && i != len){
            jQuery('#cmt_num').prepend('<li class="point"></li>')
        }
    }
    //重新获取用于显示数字的dom元素
    it = jQuery('#cmt_num li.num_item'); 
    
    for(var i = 0; i < len; i++ ){ 
        var num=String(n).charAt(i); 
        var y = -parseInt(num)*50; //y轴位置 
        var obj = jQuery("#cmt_num li.num_item").eq(i); 
        obj.animate({ //滚动动画 
            backgroundPosition :'(0 '+String(y)+')'  
            }, 'slow','swing',function(){}
        ); 
    }
}

function carousel(n){
    var fadout_dom = jQuery('#carousel_container .pt:visible');
    fadout_dom.removeClass('pt_cur');
    fadout_dom.fadeOut(1000);
    var fadin_dom = jQuery('#carousel_container .pt').eq(n-1);
    fadin_dom.fadeIn(1000,
	function(){
    	fadin_dom.addClass('pt_cur');
    });
    if(n==1){
        jQuery('#carousel_up').addClass('uN');
        jQuery('#carousel_up').removeAttr('onclick');
        jQuery('#carousel_down').removeClass('dN');
        jQuery('#carousel_down').attr('onclick','carouselNext()');
    }
    else if(n==ss){
        jQuery('#carousel_down').addClass('dN');
        jQuery('#carousel_down').removeAttr('onclick');
        jQuery('#carousel_up').removeClass('uN');
        jQuery('#carousel_up').attr('onclick','carouselPrevious()');
    }
    else{
        jQuery('#carousel_up').removeClass('uN');
        jQuery('#carousel_up').attr('onclick','carouselPrevious()');
        jQuery('#carousel_down').removeClass('dN');
        jQuery('#carousel_down').attr('onclick','carouselNext()');
    }
    clearTimeout(carousel_taskId);
    carousel_taskId = setTimeout(carouselNext,4000);
}
function carouselNext(){
    var cur_cursor = jQuery('#carousel_point li.libg').removeClass('libg');
    var cur_img_turn = parseInt(cur_cursor.attr('turn'));
    var next_img_turn;
    if(cur_img_turn==ss){
        next_img_turn = 1;
    }else{
        next_img_turn = cur_img_turn + 1;
    }
    var next_cursor = jQuery('#carousel_point li[turn='+next_img_turn+']');
    next_cursor.addClass('libg');
    carousel(next_img_turn);
}
function carouselPrevious(){
    var cur_cursor = jQuery('#carousel_point li.libg').removeClass('libg');
    var cur_img_turn = parseInt(cur_cursor.attr('turn'));
    var previous_img_turn;
    if(cur_img_turn==1){
        previous_img_turn = ss;
    }else{
        previous_img_turn = cur_img_turn - 1;
    }
    var previous_cursor = jQuery('#carousel_point li[turn='+previous_img_turn+']');
    previous_cursor.addClass('libg');
    carousel(previous_img_turn);
}
</script>
</head>

<body>
<include file="Public:header"/>
<!--banner-->
<div class="focus-bg">
  <div id="bg-big" class="">
    <div class="area focus">
      <div class="focus-wrap" id="scrollA"> 
        <!-- Begin -->
        <div class="cons">
          <div id="carousel_container" class="con">
		   <volist id="val" name="Ad" k="key">
            <div <if condition="$key eq 0">class="pt pt_cur" style="display:block"<else/>class="pt style="display:none""</if>>
            	<a href="{$val['adurl']}"><img src="{$val['adimg']}" style="width: 1150px;height: 280px; margin: 0 auto;"/></a>
            </div>
           </volist> 
          </div>
        </div>
		
        <div class="autoS">
          <ul id="carousel_point" class="clear">
		   <volist id="val" name="Ad" k="key">
            <li turn="{$key+1}" ></li>
			</volist>
           <!-- <li turn="2"></li>
            <li turn="3"></li>
            <li turn="4"></li>
			<li turn="5"></li>-->
          </ul>
        </div>
        <!-- End --> 
      </div>
    </div>
  </div>
</div>
<script>
	var carousel_taskId;
	(function(){
		jQuery('#user_name').hover(function(){
			jQuery('#name_menu').show();
		});
		jQuery('#name_menu').mouseleave(function(){
			jQuery('#name_menu').hide();
		});
	
		getCmtNum();
		showPvNum(165019088 + 150000000);
		showGarbageNum(1943050);
		setInterval(getCmtNum,3000);
		bindCarousel();
		carousel_taskId = setTimeout(carouselNext,4000);
	})(jQuery)
</script>
<div class="menuBox" id="col">
  <ul>
    <Li>
      <div class="index-01"><img src="images/index1_15.png" /></div>
      <dl>
        <dd>
          <a href="http://www.cipeasia.com/register.html"><img src="images/nav_05.png" class="icon" /></a>
        </dd>
        <dt>
          <a href="http://www.cipeasia.com/register.html"><img src="images/index_15.png" /></a>
        </dt>
      </dl>
      <div class="title">
        <a href="http://www.cipeasia.com/register.html"><h1>参观</h1><p>Visit</p></a>
      </div>
    </Li>
    <Li>
      <div class="index-01"><img src="images/index1_17.png" /></div>
      <dl>
        <dd>
          <a href="http://www.cipeasia.com/apply.html"><img src="images/nav_05.png" class="icon" /></a>
        </dd>
        <dt>
          <a href="http://www.cipeasia.com/apply.html"><img src="images/index_17.png" /></a>
        </dt>
      </dl>
      <div class="title">
        <a href="http://www.cipeasia.com/apply.html"><h1>参展</h1><p>Exhibitors</p></a>
      </div>
    </Li>
    <Li>
      <div class="index-01"><img src="images/index1_19.png" /></div>
      <dl>
        <dd>
          </a><img src="images/nav_05.png" class="icon" /></a>
        </dd>
        <dt>
          <a href="http://www.cipeasia.com/Activity.html"><img src="images/index_19.png" /></a>
        </dt>
      </dl>
      <div class="title">
        <a href="http://www.cipeasia.com/Activity.html"><h1>活动</h1><p>Activity</p></a>
      </div>
    </Li>
    <Li>
      <div class="index-01"><img src="images/index1_21.png" /></div>
      <dl>
        <dd>
          <a href="http://www.cipeasia.com/Consultation.html"><img src="images/nav_05.png" class="icon" /></a>
        </dd>
        <dt>
          <a href="http://www.cipeasia.com/Consultation.html"><img src="images/index_21.png" /></a>
        </dt>
      </dl>
      <div class="title">
        <a href="http://www.cipeasia.com/Consultation.html"><h1>广告赞助</h1><p>Sponsorship</p></a>
      </div>
    </Li>
    <Li>
      <div class="index-01"><img src="images/index1_23.png" /></div>
      <dl>
        <dd>
          <a href="http://online.kjtxw.com/online.php"><img src="images/nav_05.png" class="icon" /></a>
        </dd>
		
        <dt>
          <a href="http://online.kjtxw.com/online.php"><img src="images/index_23.png" /></a>
        </dt>
      </dl>
      <div class="title">
        <a href="http://online.kjtxw.com/online.php"><h1>对接</h1><p>Docking</p></a>
      </div>
    </Li>
    <Li>
      <div class="index-01"><img src="images/index1_25.png" /></div>
      <dl>
        <dd>
          <a href="http://consultant.kjtxw.com/consultant.html"><img src="images/nav_05.png" class="icon" /></a>
        </dd>
        <dt>
         <a href="http://consultant.kjtxw.com/consultant.html"> <img src="images/index_25.png" /></a>
        </dt>
      </dl>
      <div class="title">
        <a href="http://consultant.kjtxw.com/consultant.html"><h1>科技服务</h1><p>Technology Services</p></a>
      </div>
    </Li>
  </ul>
</div>
 <div class="indexBox">
 	<!--<div class="logo1">
        <a href="http://www.csoe.org.cn/Awards/"><img src="images/index_05.png" /></a>
    </div>
	<div class="logo1">
        <a href="http://www.csoe.org.cn/IPTA2016/"><img src="images/1081-180.jpg" /></a>
    </div>
	<div class="logo1">
        <a href="http://www.csoe.org.cn/OFC50"><img src="images/guangqian 565.jpg" /></a>
    </div>
	<div class="logo1">
        <a href="http://consultant.kjtxw.com/consultant.html"><img src="images/index_055.jpg" /></a>
    </div>-->

	
    <div class="index01">
        <div class="exhibitionNews">
        	<div class="title-01"><h1>亮点活动</h1><a href="http://www.cipeasia.com/exhibiton.html">more+</a><div class="clear"></div></div>
            <ul id="menu2">
			 <volist id="val" name="news1">
            	<li>
                	<dl>
                    	<dd><a href="http://www.cipeasia.com/News/{$val['id']}.html"><img  src="<if condition="$val['pic'] eq ''">/images/news.jpg<else/>{$val.pic}</if>" /></a></dd>
                        <dt><a href="http://www.cipeasia.com/News/{$val['id']}.html">{$val['title']}</a>
                        <span>{$val['addtime']|date="Y-m-d",###}</span>
                        <p>{$val['info']}</p></dt>
                    </dl>
                </li>
              </volist> 
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="index02">
    	<div class="index02-left">
          	<div class="title-01"><h1>展商速递</h1><a href="http://www.cipeasia.com/Express.html">more+ </a><div class="clear"></div></div>
            <ul class="new-list">
			  <volist id="val" name="news2">
            	<li><a href="http://www.cipeasia.com/News/{$val['id']}.html">{$val['title']}</a><font>{$val['addtime']|date="Y-m-d",###}</font></li>
              </volist>
            </ul>
        </div>
        <div class="index02-right">
        	<div class="title-01"><h1>视频报道</h1><a href="http://www.cipeasia.com/video.html">more+ </a><div class="clear"></div></div>
            <a target="_blank" href="{$news3['url']}" class="link9"><img src="{$news3['pic']}" style="width:400px;height:200px;"/></a>
            <p><a href="{$news3['url']}">{$news3['title']}</a></p>	
        </div><div class="clear"></div>
    </div>

 <link rel="stylesheet" href="/css/swiper.css">
    <div class="swiper-container">
  <div class="swiper-wrapper">
  <volist name="bot" id="val1">
<div class="swiper-slide blue-slide">
  <a href="{$val1['adurl']}"><img height="180px" src="{$val1['adimg']}" /></a>
</div>
</volist>
<!--
<div class="swiper-slide blue-slide">
  <a href="http://cimhiexpo.cipeasia.com"><img src="images/banner02.jpg" /></a>
</div>
<div class="swiper-slide blue-slide">
 <a href="http://omtaexpo.cipeasia.com"><img src="images/banner01.jpg" /></a>
</div>
<div class="swiper-slide blue-slide">
  <a href="http://www.uavchinamall.com/"><img src="images/banner03.jpg" /></a>
</div>
  -->
  </div>
  <div class="swiper-pagination"></div>
</div>
<script src="/js/swiper.min.js"></script>

   <div class="index03">
    	<div class="trade">
            <div class="title-01"><h1>合作媒体</h1><a href="{:U('Index/media')}">more+ </a><div class="clear"></div></div>
            <dl id="brand">
            	<dd>
                <volist id="val" name="buss">
                <a href="{$val['url']}"><img src="{$val['pic']}" /></a>
                </volist>
				
                <div class="clear"></div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="linkBox">
      <div class="link"><h1>友情链接</h1><div class="clear"></div></div>
      <p>
	  <volist id="val" name="link">
	  <a target="_blank" href="{$val['url']}">{$val['title']}  </a>|
        </volist>
         </p>
       
    </div>
    </div>
 </div>
  <include file="Public:footer"/>
</body>
</html>
