<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻首页-{:C('site_name')}</title>
<meta name="description" content="{:C('site_description')}">
<meta name="keywords" content="{:C('site_keyword')}">
<meta name="title" content="{:C('site_title')}">
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
<script src="/js/jquery.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript" src="/js/common.js" language="javascript"></script>
<script>
	$(function(){
	  
		$("base").attr("target","");
		$(".nav01 ul li a").attr("target","_blank");
		
	})
	</script>
</head>

<body>
<include file="Public:header"/>  <div class="newsBoX">
  	<div class="banner01">
    	<a href="#"><img src="/images/banner1_03.jpg" /></a>
    </div>
  	<div class="link02">
    	<ul id="new">
        	<li <if condition="$_GET['type'] eq 1">class="current1"</if>><a href="http://www.cipeasia.com/exhibiton.html">展会新闻</a></li>
            <li <if condition="$_GET['type'] eq 2">class="current1"</if>><a href="http://www.cipeasia.com/Express.html">展商速递</a></li>
            <li <if condition="$_GET['type'] eq 3">class="current1"</if>><a href="http://www.cipeasia.com/video.html">视频报道</a></li>
        </ul><div class="clear"></div>
    </div>
    <div id="new_content">
      <div class="detailBox">
    	<ul id="menu1">
		   <volist id="val" name="news1['data']">
        	<li>
            	<div class="showLi">
                   <a target="_blank" href="<if condition="$val['type'] eq 3">{$val['url']}<else/>http://www.cipeasia.com/News/{$val['id']}.html</if>"><img src="<if condition="$val['pic'] eq ''">/images/news.jpg<else/>{$val.pic}</if>" /></a>
                   <div class="text02">
                   	 <h2>{$val['title1']}</h2>
                     <font>{$val['addtime']|date="Y-m-d",###}</font>
                     <p>{$val['info']}</p>
                  </div>
				</div>
                <div class="active">
                 <a target="_blank" href="<if condition="$val['type'] eq 3">{$val['url']}<else/>http://www.cipeasia.com/News/{$val['id']}.html</if>">
                   <div class="active-01">
                     <h1>{$val['title']}</h1>
                     <img src="/images/active_05.jpg" />
                   </div>
                 </a>
                </div>
            </li>
           </volist>
        </ul>
        <div class="page">
              
              	{$news1.html}
              
        </div>
     </div>
     
  </div>
 </div>
 <div class="clear"></div>
  <include file="Public:footer"/>
</body>
</html>
