<div class="footer">
     <div class="copyright">
	    <!--<p>【主办单位】</p>
		<ul style="width:313px; overflow:hidden;margin:0 auto;">
			<li >中国光学工程学会</li>
			<li style="margin-left:0px;">中国高科技产业化研究会</li>
		</ul>
		<p>【承办单位】</p>
		<ul style="width:1050px;margin-left:30px;">
			<li>中国高科技产业化研究会产学研合作协调部</li>
			<li>中国高科技产业化研究会光电科技产业化分会</li>
			<li>中国宇航学会光电技术专业委员会</li>
			<li>国际高新技术交流中心</li>
			<li style="margin-left:0px;">北京宇航会展有限公司</li>
		</ul>
		<div class="clear"></div>
		<div class="left">
			<p>【海外联办】</p>
			<ul>
				<li>国际光学工程学会</li>
				<li>法国国际商务展会公司</li>
				<li>美国光学学会</li>
				<li>英国南安普顿大学</li>
				<li>英国伯明翰大学</li>
				<li>英中贸易协会</li>
				<li>意大利皮埃蒙特大区航空航天协会</li>
				<li>法国企业国际发展局</li>
				<li>芬兰国家技术创新局</li>
				<li>德国夫琅禾费应用研究促进协会</li>
				<li>德国Adlershof 高科技产业园</li>
				<li>西班牙国家技术创新联盟</li>
				<li>俄罗斯技术转移网络</li>
				<li>新加坡国立大学</li>
				<li>韩国创新促进协会</li>
				<li>加拿大中国工商业委员会</li>
				<li>美中商务与文化交流中心</li>
			</ul>
		</div>
		<div class="right">
			<p>【支持单位】</p>
			<ul>
				<li>中国航天科技集团公司</li>
				<li class="li1">中国航空工业集团公司</li>
				<li>中国船舶重工集团公司</li>
				<li class="li1">中国兵器工业集团公司</li>
				<li>中国电子科技集团公司</li>
				<li class="li1">中国工程物理研究院</li>
				<li>中科院长春光机所</li>
				<li class="li1">中科院上海光学精密机械研究所</li>
				<li>中科院西安光学精密机械研究所</li>
				<li class="li1">中国科学院上海技术物理研究所</li>
				<li>清华大学</li>
				<li class="li1">浙江大学</li>
				<li>哈尔滨工业大学</li>
				<li class="li1">北京航空航天大学</li>
				<li>北京理工大学</li>
				<li class="li1">南京理工大学</li>
				<li>长春理工大学</li>
			</ul>
		</div>-->
		<div class="clear"></div>
		<p style="padding-bottom:0px;">北京宇航会展有限公司版权所有  京ICP备12003248号<br> 指定新闻稿发布机构——美通社</p>
		<div style="display:none"><script src="http://s95.cnzz.com/stat.php?id=3619382&web_id=3619382" language="JavaScript"></script></div>
		<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F69b881bbc7306a0854f469c324c8f6c2' type='text/javascript'%3E%3C/script%3E")) </script>
		<!--<p style="padding-top:0px;">技术支持：<a href="http://www.sysmile.com" style="color:#fff">天津市阳光盛强网络科技有限公司</a></p>-->
     </div>
  </div>
  
