<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CIPE-主题会展</title>
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
<script src="/js/jquery.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript" src="/js/common.js" language="javascript"></script>
</head>

<body>
  <include file="Public:header"/>
  <div class="themeBox">
  	<div class="nav02">
      <ul id="menu">
        <li class="current"><a href="#">激光制造展</a>|</li>
        <li><a href="#">红外产品展</a>|</li>
        <li><a href="#">光谱仪器展</a>|</li>
        <li><a href="#"> 光学制造展</a>|</li>
        <li><a href="#">机器视觉展</a>|</li>
        <li><a href="#"> 测试仪器展</a>|</li>
        <li><a href="#">光通信与光纤传感展</a>|</li>
        <li><a href="#">微纳制造及智能制造展</a>|</li>
        <li><a href="#">创新实验室技术成果展</a></li>
      </ul>
    </div>
    <div id="menu_content">
      <div class="manufactureBox">
        <div class="banner">
          <img src="/images/kk_02.jpg" />
        </div>
        <div class="manufacture01">
            <div class="manufacture01-1">
               <div class="text01">
                  <h1>关于激光制造展</h1>
                  <p>激光产业链上中下游企业都将在激光展上实现交流与合作，成为业界一年一度探知产业发展趋势的风向标。</p>
               </div>
               <div class="img01">
                  <img src="/images/3_05.jpg" />
               </div>
            </div><div class="clear"></div>
            <div class="theme">
                <ul id="theme">
                    <li>
                      <div class="show"><a href="#"><img src="/images/6_03.jpg" /></a></div>
                      <div class="activeimg"><a href="#"><span>参观</span></a></div>
                    </li>
                    <li>
                      <div class="show"><a href="#"><img src="/images/6_06.jpg" /></a></div>
                      <div class="activeimg"><a href="#"><span>参展</span></a></div>
                    </li>
                    <li>
                      <div class="show"><a href="#"><img src="/images/6_08.jpg" /></a></div>
                      <div class="activeimg"><a href="#"><span>活动</span></a></div>
                    </li>
                    <li>
                      <div class="show"><a href="#"><img src="/images/link_11.jpg" /></a></div>
                      <div class="activeimg"><a href="#">产业联盟</a></div>
                    </li>
                    <li>
                      <div class="show"><a href="#"><img src="/images/6_12.jpg" /></a></div>
                      <div class="activeimg"><a href="#"><span>对接</span></a></div>
                    </li>
                    <li>
                      <div class="show"><a href="#"><img src="/images/6_14.jpg" /></a></div>
                      <div class="activeimg"><a href="#">科技服务</a></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="exhibitBox">
            <div class="exhibit">
              <h1>展出范围</h1>
              <ul>
                  <li>
                    <a href="#"><img src="/images/7_03.jpg" /></a>
                    <h2>激光器</h2>
                    <P>固体激光器，半导体激光器，CO2激光器，准分子激光器，染料激光器，光纤激光器，超快激光器，量子级联激光器 ，碟片激光器 ，探测器，太赫兹， 其他光源。</P>
                  </li>
                  <li>
                    <a href="#"><img src="/images/7_05.jpg" /></a>
                    <h2>激光组件与材料</h2>
                    <p>激光器、探测器、放大器、中继器、连接器、光开关、光分插复用器、波导器件、光收发一体模块、波分复用器件、衰减器、滤波器、耦合器、分离器、 波长转换器、光栅器件、光环行器、光纤列阵、PLC分路模块、光学晶体、集成光学器件等。</p>
                  </li>
                  <li>
                    <a href="#"><img src="/images/7_07.jpg" /></a>
                    <h2>激光系统设备</h2>
                    <p>激光打标机，激光切割机，激光焊接机，激光雕刻机，激光演示系统，激光热处理系统，激光毛化系统，激光划线系统。</p>
                  </li>
               </ul>
            </div>
        </div>
    </div>
  </div>
  <include file="Public:footer"/>
  </div>
  
  
</body>
</html>
