<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>参观指南-{:C('site_name')}</title>
<meta name="description" content="{:C('site_description')}">
<meta name="keywords" content="{:C('site_keyword')}">
<meta name="title" content="{:C('site_title')}">
<link rel="stylesheet" type="text/css" href="/css/index.css"/>
<script src="/js/jquery.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript" src="/js/common.js" language="javascript"></script>
</head>

<body>
  <include file="Public:header"/>
  <div class="newsBoX">
  	<div class="banner01">
    	<a href="#"><img src="/images/bb_02.jpg" /></a>
    </div>
  	<div class="link04 link02">
    	<ul id="new">
        	<li><a href="#">申请参展</a></li>
            <li><a href="#">展商手册</a></li>
            <li><a href="#">展位图</a></li>
            <li><a href="#">展商名录</a></li>
            <li class="current1"><a href="#">广告咨询</a></li>
            <li><a href="#">搭建/租赁</a></li>
        </ul><div class="clear"></div>
    </div>
    <div id="new_content">
      <div class="adBox">
         <table id="table01">
           <tr>
                	<td colspan="4"><h1>展会文件类</h1></td>
                </tr>
            	<tr class="sheet01">
                	<td class="text08">编号</td>
                    <td width="254">赞助类别</td>
                    <td width="500">赞助内容</td>
                    <td width="180">价格（元）</td>
                </tr>
                <tr>
                	<td class="word">1</td>
                    <td>展票</td>
                    <td>背面；全彩印刷</td>
                    <td>18000/10000张</td>
                </tr>
                 <tr>
                	 <td class="word">2</td>
                    <td>各类证件</td>
                    <td>展商证，观众证；全彩印刷	 18000/5000个</td>
                     <td>18000/5000个</td>
                </tr>
                    <tr>
                	 <td class="word">3</td>
                    <td>挂绳</td>
                     <td>展商证，观众证；全彩印刷	 18000/5000条</p></td>
                    <td><p>18000/5000个</td>
                </tr>
                    <tr>
                	 <td class="word">4</td>
                     <td>资料袋</td>
                     <td>单面；单色印刷	 10000/5000个</td>
                     <td>10000/5000个</td>
                 </tr>
                 <tr>
                	<td class="word">5</td>
                    <td rowspan="3">会刊广告</td>
                    <td>资料袋</td>
                     <td>7800</td>
                </tr>
             
                    <tr>
                	 <td class="word">6</td>
                    <td>封底；全彩印刷	 10000</td>
                     <td>10000</td>
                  
                </tr>
                    <tr>
                	 <td class="word">7</td>
                   <td>内页；全彩印刷	 5500</td>
                     <td>5500</td>
                </tr>
                    <tr>
                	<td class="word">8</td>
                    <td>观众指南</td>
                    <td>显著位置彩印企业LOGO，凸显企业</td>
                    <td>3000/5000本</td>
                </tr>
              </table>
              <table id="table02">
                <tr>
                	<td colspan="4"><h1 class="biaoti">室内、会场及户外广告类</h1></td>
                </tr>
            	<tr class="sheet01">
                	 <td>编号</td>
                     <td>赞助类别</td>
                    <td>赞助内容</td>
                    <td>价格（元）</td>
                </tr>
                <tr>
                	<td class="text08">1</td>
                    <td width="235">展馆室外广告位</td>
                    <td width="480">场馆入口树立大型广告牌展会场馆</td>
                    <td width="160">30000/展期</td>
                </tr>
             
                <tr>
                	<td rowspan="2" class="word">2</td>
                    <td rowspan="2">展馆顶部悬挂A</td>
                    <td>展会场馆</td>
                    <td rowspan="2"><p>5000/展期</td>
                </tr>
                    <tr height="43">
                   <td>顶部悬挂小幅广告吊</td>
                </tr>
          
                
                <tr>
                	<td rowspan="2" style="background-color:#f5f5f5;" class="word">3</td>
                    <td rowspan="2" style="background-color:#f5f5f5">展馆顶部悬挂B</td>
                    <td>展会场馆</td>
                    <td rowspan="2" style="background-color:#f5f5f5"><p>5000/展期</td>
                </tr>
                    <tr>
                   <td>顶部悬挂小幅广告吊</td>
                </tr>
                <tr>
                   <td class="word">4</td>
                   <td>会议室入口广告位</td>
                   <td>论坛门口树立广告牌或易拉宝</td>
                   <td>3000/会期</td>
                 </tr>
                 <tr>
                	<td class="word">5</td>
                   <td>室内横幅广告位</td>
                   <td>展会场馆</td>
                   <td>8000/展期</td>
                </tr>
               <tr>
                	<td class="word">6</td>
                    <td>观众主入口广告位</td>
                    <td>展会场馆</td>
                    <td>30000/展期</td>
                </tr>
                 <tr>
                	<td class="word">7</td>
                    <td>电动扶梯口广告位</td>
                    <td>展会场馆</td>
                    <td>5000/展期</td>
                </tr>
                <tr>
                	<td class="word">8</td>
                    <td>LED大屏幕宣传</td>
                    <td>展会场馆</td>
                    <td>5000/半天</td>
                </tr>
                 <tr>
                	<td class="word">9</td>
                    <td>拱门形象展示</td>
                    <td>拱门上印刷公司名称，LOGO全面宣传</td>
                    <td>5000/展期</td>
                </tr>
              </table>
              <table id="table03">
                 <tr height="84">
                	<td colspan="4"><h1 class="biaoti01">展会同期活动类</h1></td>
                </tr>
            	<tr height="42" class="td01 sheet01">
                	<td>编号</td>
                    <td>赞助类别</td>
                    <td>赞助内容</td>
                    <td>价格（元）</td>
                </tr>
                <tr height="335">
                	<td class="text08">1</td>
                    <td width="220"><p>最新激光技术在汽车先进制造应用对接商洽会</p></td>
                    <td width="480"><font>（1）成为会议赞助单位；</font>
                                     <font>（2）主题演讲报告1篇（20分钟）</font>
                                     <font>（3）参会名额2个；</font><div class="clear"></div>
                                     <font>（4）会议现场主办方将通过引荐、对接洽谈等形式安排企业与买家建立联系，促成合作。</font>
                                     <font>（5）相关会议资料、网站刊登公司logo</font>
                                     <font>（6）会议期间可发放企业宣传册</font>
                                     <font>（7）成为中高会光电产业分会高级会员</font>
                    </td>
                    <td width="140"><p>20000/会期</p></td>
                </tr>
                 <tr height="212">
                	<td style="text-align:center; padding:0px;">2</td>
                    <td><p>第三届红外英才沙龙</p></td>
                    <td width="480"><font>（1）参加自助餐式酒会，背景板，邀请函，纪念相册，网站等相关宣传媒体上
        作为联办单位出现，沙龙现场ppt广告宣传</font>
                                     <font>（2）全年在展会网站、宇航光电咨询网随时发布更新企业信息</font>
                                     <font>（3）在会刊上为联办单位刊登彩插广告</font><div class="clear"></div>
                                     <font>（4）会议现场主办方将通过引荐、对接洽谈等形式安排企业与买家建立联系，促成合作。</font>
                                     <font>（4）赠送会刊、会议文集、会议通讯录等</font>
                    </td>
                    <td><p>20000/会期</p></td>
                </tr>
                     <tr height="338">
                	<td class="word">3</td>
                   <td><p>先进光学制造技术及产业应用对接采购会</p></td>
                    <td width="480"><font>（1）成为会议赞助单位；</font>
                                     <font>（2）主题演讲报告1篇（20分钟）</font>
                                     <font>（3）参会名额2个；</font><div class="clear"></div>
                                     <font>（4）会议现场主办方将通过引荐、对接洽谈等形式安排企业与买家建立联系，促成合作。</font>
                                     <font>（5）相关会议资料、网站刊登公司logo</font>
                                     <font>（6）会议期间可发放企业宣传册</font>
                                     <font>（7）成为中高会光电产业分会高级会员</font>
                    </td>
                      <td><p>20000/会期</p></td>
                   </tr>
                   <tr height="338">
                	<td class="word">4</td>
                    <td><p>2014机器视觉市场需求暨洽谈对接会</p></td>
                    <td><font>（1）成为会议赞助单位；</font>
                                     <font>（2）主题演讲报告1篇（20分钟）</font>
                                     <font>（3）参会名额2个；</font>
                                     <font>（4）会议现场主办方将通过引荐、对接洽谈等形式安排企业与买家建立联系，促成合作。</font>
                                     <font>（5）相关会议资料、网站刊登公司logo</font>
                                     <font>（6）会议期间可发放企业宣传册</font>
                                     <font>（7）成为中高会光电产业分会高级会员</font>
                    </td>
                   <td><p>20000/会期</p></td>
                </tr>
                <tr height="226">
                	<td class="word">5</td>
                   <td><p>光电产品项目发布会</p></td>
                   <td><font>（1）企业20分钟PPT宣讲；</font>
                                     <font>（2）提供设备及场地</font>
                                     <font>（3）发布地点位于展馆核心区</font>
                                     <font>协助宣传报道，召集听众</font>
                                     <font>★限20场，报名额满为止</font>
                    </td>
                    <td><p>5800/场（20分钟）</p></td>
                </tr>
                 <tr height="226">
                	<td class="word">6</td>
                   <td><p>企业专场发布会</p></td>
                   <td><font>（1）企业PPT宣讲</font>
                                     <font>（2）提供设备及会场（容80-100人）</font>
                                     <font>（3）发布地点位于会议室内</font>
                                     <font>（4）协助宣传报道，召集听众</font>
                                     <font>★限20场，报名额满为止</font>
                    </td>
                    <td><p>20000/场（半天）</p></td>
                </tr>
                <tr height="42">
                	<td class="word">7</td>
                    <td><p>发放资料</p></td>
                    <td><p>在论坛/对接会发放企业宣传资料</p></td>
                    <td><p>5000（企业自备资料）</p></td>
                </tr>
                 <tr height="85">
                	<td class="word">8</td>
                   <td><p>论坛/会议茶歇赞助</p></td>
                   <td><p>将茶歇区提供给赞助企业，企业可根据实际情况进行设计，可树立广告牌或易拉宝，茶歇物品企业自备</p></td>
                   <td><p>20000/会期</p></td>
                </tr>
                    <tr height="42">
                	<td class="word">9</td>
                    <td><p>展会/会议礼品</p></td>
                   <td><p>礼品将摆放在展会场馆或会场主要区域，彰显企业形象及实力</p></td>
                   <td><p>由赞助单位提供相关礼品</p></td>
                </tr>
      </table>
      </div>
  </div>
 </div>
  <div class="footer">
     <div class="copyright">
     	<p>北京宇航会展有限公司版权所有  京ICP备12003248号 </p>
     </div>
  </div>
</body>
</html>
