<include file="Public:header" />

<script type="text/javascript">
	$(document).ready(function(){
		$("#submit").click(function(){
			if($("#name").val()==0){
			   alert('请填写资讯分类');
			   return false;
			}
		});
	});
</script>

</head>
<div class="pad_10">
<form action="{:U('Catgory/edit')}" method="post" name="myform" id="myform" enctype="multipart/form-data" style="margin-top:10px;">
  <div class="pad-10">
  <div class="col-tab">
  <ul class="tabBut cu-li">
    <li id="tab_setting_1" class="on" onclick="SwapTab('setting','on','',2,1);">基本信息</li>
   
  </ul>
  <div id="div_setting_1" class="contentList pad-10">
    <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
    <tr>
      <th></th>
      <td><input type="hidden" name="id" class="input-text" value="{$art.id}"></td>
    </tr>
    <!--<tr>
      <th>上级分类 :</th>
      <td>
      <select name="pid" style="width:150px;">
      <option value="{$cate_info.pid}" selected="selected"><if condition="$cate_info.pid eq 0">--顶级分类--<else />{$cate_info.pname}</if></option>    
      </td>
      </select>
    </tr>-->
    <tr>
      <th width="100">分类 :</th>
      <td><input type="text" name="kind" id="kind" class="input-text" value="{$art.kind}"></td>
    </tr>
   
</table>
  </div>

  
  <div class="bk15"></div>
  <div class="btn">
    <input type="submit" value="提交" name="submit" class="button" id="submit">
  </div>

</div>
</div>
</form>
</div>
</body>
</html>