<include file="Public:header" />
<script type="text/javascript">
	function status(id,type,value){
	    $.get("{:U('News/status')}", { id: id, type: type, value: value }, function(data){
			$("#"+type+"_"+id+" img").attr('src', '__PUBLIC__/statics/images/status_'+data.data+'.gif')
		},"json");  
	}
$(function(){
	$("[name=delete]").click(function(){
			$("[name=searchform]").attr("action","{:U('News/delete')}");
		    $("[name=searchform]").submit();
		})
})
</script>

</head>
<div class="pad-10" >
    <form name="searchform" id="searchform" action="{:U('News/index')}" method="get" >
    <table width="100%" cellspacing="0" class="search-form">
        <tbody>
            <tr>
            <td>
            <div class="explain-col">
            	发布时间：
            	<input type="text" name="TIME_START" id="TIME_START" class="date" size="12" value="{$time_start}">
				<script language="javascript" type="text/javascript">
                    Calendar.setup({
                        inputField     :    "TIME_START",
                        ifFormat       :    "%Y-%m-%d",
                        showsTime      :    'true',
                        timeFormat     :    "24"
                    });
                </script>
                -
                <input type="text" name="TIME_END" id="TIME_END" class="date" size="12" value="{$time_end}">
				<script language="javascript" type="text/javascript">
                    Calendar.setup({
                        inputField     :    "TIME_END",
                        ifFormat       :    "%Y-%m-%d",
                        showsTime      :    'true',
                        timeFormat     :    "24"
                    });
              </script>
              &nbsp;类型 :
			  <select name="CATE_ID">
				  <option value="">--请选择--</option>
				  <option value="1" <if condition="$cate_id eq 1">selected="selected"</if>>展会新闻</option>
				  <option value="2" <if condition="$cate_id eq 2">selected="selected"</if>>展商速递</option>
				  <option value="3" <if condition="$cate_id eq 3">selected="selected"</if>>视频报道</option>
			  </select>
                &nbsp;关键字 :
                <input name="KEYWORD" type="text" class="input-text" size="25" value="{$keyword}" />
                <input type="submit" name="search" class="button" value="搜索" />
        	</div>
            </td>
            </tr>
        </tbody>
    </table>
    
    <div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width="60">序号</th>
                <th width="33" ><input type="checkbox" value="" id="check_box" onclick="selectall('id[]');"></th>
                <th width=445 >标题名称</th>
                <th width=259>发布时间</th>
				 <th width=241>所属分类</th>
               <th width=241>排序值</th>
                 <th width=173>操作</th>
               <!-- <th width=30>推荐</th>
                <th width=30>状态</th> -->
            </tr>
        </thead>
    	<tbody>
        <volist name="articles" id="val" >
        <tr>
        	<td align="center">{$val.id}</td>
            <td  align="center">
            <input type="checkbox" value="{$val.id}" name="id[]"></td>
            <td align="center"><a href="{:U('News/edit',array('id'=>$val['id']))}"><em style="color:black;">{$val.title}</em></a>&nbsp;&nbsp;</td>
           
            <td align="center">{$val.addtime|date="Y-m-d H:i:s",###}</td>
			<td align="center"><if condition="$val['type'] eq 1">展会新闻<elseif condition="$val['type'] eq 2"/>展商速递<else/>视频报道</if></td>
           <td align="center"><input  type="text" class="input-text-c input-text" value="{$val.ord}" size="4" name="orders[{$val.id}]"></td>
           <td align="center" style="padding-left:50px;"><a href="{:U('News/edit',array('id'=>$val['id']))}">修改</a>&nbsp;&nbsp;</td>
          </volist>
    	</tbody>
    </table>

    <div class="btn">
    	<label for="check_box" style="float:left;">全选/取消</label>
    	<input type="submit" class="button" name="delete" value="删除" style="float:left;margin:0px 10px;"  onclick="return check();"/>
    	<input type="submit" class="button" name="order" onclick="document.searchform.action='{:U('News/order')}'" value="排序" style="float:left;"/>
    	
		
    </div>

    </div>
    </form>
	<div id="pages">{$page}</div>
</div>
</body>
</html>
