<include file="Public:header" />

</head>
<div class="pad_10 pub_02">

<script type="text/javascript" src="__PUBLIC__/statics/js/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/area.js" charset="gbk"></script>


<style type="text/css">
select{margin-left:8px;};
</style>
 <form action="{:U('Admin/User/caste')}" method="post">
                	
                   <table cellpadding="0" cellspacing="0" border="0">
                      <tr>
                          <td align="right"><span>*</span> 团体名称</td>
                          <td colspan="2"><input type="text" name="CNAME" value="{$data.CNAME}" class="pub_03 validate[required]" style="width:540px" /></td>
                       </tr>
                         <tr>
                          <td align="right"><span>*</span>省/市</td>
                          <td colspan="2">
                              <select name="CPROV" id="s_province" va="1"></select>
                              <select name="CCITY" id="s_city" va="1"></select>
                              <select name="s_county" id="s_county" va="1"></select>
                          </td>
                       </tr>
                       <tr>
                          <td align="right">详细地址</td>
                          <td colspan="2"><input type="text" name="CADDRESS" value="{$data.CADDRESS}" class="pub_03"  style="width:170px"  />
                       
                          </td>
                       </tr>
                       <tr>
                          <td align="right"><span>*</span>联系人</td>
                          <td colspan="2"><input type="text" name="CONTACTS" value="{$data.CONTACTS}" class="pub_03 validate[required]" style="width:540px" /></td>
                       </tr>
                         <tr>
                          <td align="right">联系人电话</td>
                          <td colspan="2"><input type="text" name="CMOBILEPHONE" value="{$data.CMOBILEPHONE}" class="pub_03" style="width:540px" /></td>
                       </tr>
                         <tr>
                          <td align="right"><span>*</span> 联系人手机</td>
                          <td colspan="2"><input type="text" name="CPHONE" value="{$data.CPHONE}" class="pub_03 validate[required]" style="width:540px" /></td>
                       </tr>
                       
                        <tr>
                          <td align="right"> 联系人生日</td>
                          <td colspan="2"><input name="CBIRTH" value="{$data.CBIRTH}" type="text" class="pub_06" style="width:540px" onclick="WdatePicker()" /></td>
                       </tr>
   
                        
                         <tr>
                          <td align="right"><span>*</span>联系人性别</td>
                          <td colspan="2">&nbsp;&nbsp;&nbsp;<input type="radio" name="CENDER"  checked="checked"  value="0"/>&nbsp;男&nbsp;&nbsp; <input name="CENDER" type="radio" value="1"/>&nbsp;女</td>
                       </tr>
                         <tr>
                          <td align="right">职务</td>
                          <td colspan="2"><input name="CPOST" type="text"  value="{$data.CPOST}" class="pub_03" style="width:540px" /></td>
                       </tr>
                         <tr>
                          <td align="right"><span>*</span>邮编</td>
                          <td colspan="2"><input type="text" name="CPOSTNO" value="{$data.CPOSTNO}" class="pub_03 validate[required]" style="width:540px" /></td>
                       </tr>
                      
                         <tr>
                          <td align="right">传真</td>
                          <td colspan="2"><input type="text" name="CFAX"  value="{$data.CFAX}" class="pub_03" style="width:540px" /></td>
                       </tr>
                         <tr>
                          <td align="right"><span>*</span>邮箱</td>
                          <td colspan="2"><input type="text" name="CEMAIL" value="{$data.CEMAIL}"  class="pub_03 validate[required]" style="width:540px" /></td>
                       </tr>
					   <tr>
                          <td align="right"><span>*</span>官网</td>
                          <td colspan="2"><input type="text" name="CDOMAIN" value="{$data.CDOMAIN}"  class="pub_03 validate[required]" style="width:540px" /></td>
                       </tr>
					   <tr>
                           <tr>
                          <td align="right"><span>*</span>添加时间</td>
                          <td colspan="2"><input type="text" name="ADDTIME" value="{$data.ADDTIME}"  class="pub_06 validate[required]" style="width:540px" onclick="WdatePicker()" /></td>
                       </tr>
					   <tr>
                          <td align="right"><span>*</span>联系人部门</td>
                          <td colspan="2"><input type="text" name="CDEPARTMENT" value="{$data.CDEPARTMENT}"  class="pub_03 validate[required]" style="width:540px" /></td>
                       </tr>
					   
					    <tr>
                          <td align="right"><span>*</span>简介</td>
                          <td colspan="2"><input type="text" name="CINTRO" value="{$data.CINTRO}"  class="pub_03 validate[required]" style="width:540px" /></td>
                       </tr>
					   <tr>
                          <td align="right"><span>*</span>营业执照</td>
                          <td colspan="2"><if condition="$data['LICENSE'] eq ''"><else/>&nbsp;&nbsp;<a href="{$data.LICENSE}" style=" color:#0000FF" target="_blank">下载</a></if>
                        </td>
                       </tr>
					    <tr>
                          <td align="right"><span>*</span>授权书</td>
                          <td colspan="2"><if condition="$data['AUTHORIZATION'] eq ''"><else/>&nbsp;&nbsp;<a href="{$data.AUTHORIZATION}" style=" color:#0000FF" target="_blank">下载</a></if>
                        </td>
                       </tr>
                         <tr>
                          <td align="right"></td>
                          <td colspan="2" align="center">
                          <input type="submit" style="background:url(__PUBLIC__/statics/images/btn_team.jpg) ;width:331px; height:35px; border:none;"  value=""/>
                          </td>
                       </tr>
                   </table>
                   <input type="hidden"  name="submit" value="1" />
                    <input type="hidden" name="USERID" id="USERID" class="button" value="{$data.USERID}">
                   </form>
				   <script type="text/javascript">
//初始化信息
var s=["s_province","s_city","s_county"];//三个select的id
var opt0 = ["省份","地级市","市、县级市"];//初始值
function _init_area(){  //初始化函数

	for(i=0;i<s.length-1;i++){
		
	  	document.getElementById(s[i]).onchange=new Function("change("+(i+1)+")");
	
	}
	change(0);
}
$(function(){
	$("select").each(function(){
		if($(this).attr("va")=="1"){
			return;
		}
		$(this).change(function(){
			$("#"+$(this).attr("id")+"VALUE").val($(this).find("option:selected").text());	
		}).change();
	})	
	_init_area();
	$("#s_province").val("{$data.CPROV}");
		$("#s_province").change();
		$("#s_city").val("{$data.CCITY}");
		$("#s_city").change();
		$("#s_county").val("{$data.COUNTY}");
})
</script>
   
</div>
</body></html>