<include file="Public:header" />

<script type="text/javascript">
	function status(id,type,value){
	    $.get("{:U('News/status')}", { id: id, type: type, value: value }, function(data){
			$("#"+type+"_"+id+" img").attr('src', '__PUBLIC__/statics/images/status_'+data.data+'.gif')
		},"json");  
	}
$(function(){
	$("[name=delete]").click(function(){
			$("[name=searchform]").attr("action","{:U('Travel/delete')}");
		    $("[name=searchform]").submit();
		})
})
</script>

</head>
<body>
  <div class="pad-10">
  <div class="col-tab">
  <ul class="tabBut cu-li">
    <li id="tab_setting_1" class="on" onclick="SwapTab('setting','on','',2,1);">基本信息</li>
    <li id="tab_setting_2" style="display:none" onclick="SwapTab('setting','on','',2,2);">SEO设置</li>
  </ul>
  <div id="div_setting_1" class="contentList pad-10">
    <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
	  
	   <tr>
           <td>称谓<span>*</span> </td>
           <td  colspan="2"><?php echo $user['gender']== 'M' ? '先生' : '女士' ;?></td>
       </tr>
       <tr>
           <td width="115px">姓名<span>*</span> </td>
           <td width="295px">{$user['name']}</td>
       </tr>
       <tr>
           <td>职位<span>*</span> </td>
           <td  colspan="2">{$user['position']}</td>
       </tr>
        <tr>
           <td>部门<span>*</span> </td>
           <td>{$user['department']}</td>
       </tr>
       <tr>
           <td>邮编<span>*</span> </td>
           <td  colspan="2">{$user['post_code']}</td>
       </tr>
       <tr>
           <td>单位名称<span>*</span> </td>
           <td  colspan="2">{$user['company']}</td>
       </tr>
        <tr>
           <td>通讯地址<span>*</span> </td>
           <td  colspan="2">{$user['address']}</td>
       </tr>
       <tr>
           <td>是否团队参观<span>*</span> </td>
           <td  colspan="2"><?php echo $user['is_group']== 0 ? '否' : '是' ;?></td>
       </tr>
       <tr>
           <td>团队人数<span>*</span> </td>
           <td  colspan="2">{$user['visitor_num']}</td>
       </tr>
        <tr>
           <td>省份/地区<span>*</span> </td>
           <td  colspan="2">
           	{$user['province']}
           </td>
       </tr>
        <tr>
           <td>城市<span>*</span> </td>
           <td  colspan="2">
           	{$user['city']}
           </td>
       </tr>
        <tr>
           <td>电话<span>*</span> </td>
           <td  colspan="2">{$user['tel']}
             <font>(格式：国家号-区号-电话号-分机)</font>
           </td>
       </tr>
        <tr>
           <td>传真 </td>
           <td  colspan="2">{$user['fax']}
           <font>(格式：国家号-区号-电话号-分机)</font>
           </td>
       </tr>
       <tr>
           <td>手机<span>*</span> </td>
           <td  colspan="2">{$user['mobile']}</td>
       </tr>
       <tr>
           <td>Email<span>*</span> </td>
           <td  colspan="2">{$user['email']}</td>
       </tr>
      <tr>
           <td>网址<span>*</span> </td>
           <td  colspan="2">{$user['website']}</td>
       </tr>
       <tr>
           <td>报名时间<span>*</span> </td>
           <td  colspan="2">{$user['add_time']|date="Y-m-d H:i:s",###}</td>
       </tr>
    </table>
  </div>

  
  <div class="bk15"></div>
  <div class="btn">
    <a href="{:U('Visit/list_c')}"><input type="button" value="返回" name="submit" class="button" id="submit"></a>
  </div>

</div>
</div>
</body>
</html>