<include file="Public:header" />

<script type="text/javascript" src="__PUBLIC__/statics/js/common.js"></script>
<script type="text/javascript">
$(function(){
	var items='{"items":["uploadJson","wordpaste","selectall","justifyleft","justifycenter","image","justifyright","justifyfull","insertorderedlist","insertunorderedlist","formatblock","fontname","fontsize","forecolor","hilitecolor","bold","italic","fullscreen"]}';
	items=eval("("+items+")");
	KindEditor.create('[name=info]');
	
	
	
})

</script>
</head>
<form action="{:U('Visit/ceshi')}" method="post" name="myform" id="myform" enctype="multipart/form-data" style="margin-top:10px;">
  <div class="pad-10">
  <div class="col-tab">
  <ul class="tabBut cu-li">
    <li id="tab_setting_1" class="on" onclick="SwapTab('setting','on','',2,1);">基本信息</li>
    <li id="tab_setting_2" style="display:none" onclick="SwapTab('setting','on','',2,2);">SEO设置</li>
  </ul>
  <div id="div_setting_1" class="contentList pad-10">
    <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
	  
      <tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="name" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr>
	 <tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="gender" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="position" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="department" id="title" class="input-text" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="post_code" id="title" class="input-text" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="company" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="address" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="province" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="city" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="tel" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="fax" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="mobile" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="email" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="website" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="is_group" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr>
	  <tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="visitor_num" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="add_time" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr>><tr>
        <th width="100">标题名称 :</th>
        <td><input type="text" name="status" id="title" class="input-text validate[required]" size="60" value="{$article.title}"></td>
      </tr>
	  <tr>
        <th>简介 :</th>
        <td><textarea name="info" id="text" style="width:70%;height:350px; ">{$article.info}</textarea></td>
      </tr>  
	 
      <tr><td>
		<input type="hidden" name="id" value="{$article.id}" id="article_id"/>
		
	  </td></tr>
    </table>
  </div>
  <div class="bk15"></div>
  <div class="btn">
    <input type="submit" value="提交" name="submit" class="button" id="submit">
  </div>

</div>
</div>
</form>
</body>
</html>